
<style>
   #header-container {
        background-image:
        linear-gradient(180deg,transparent 34%,rgba(0,0,0,.47) 72%,rgba(0,0,0,.7) 99%),
        url({{ fields.field_homepage_feature_image.content }});
     }

</style>
<div class="homepage-feature-bg">

</div>
