<style>
.msu-vtab ul{
    border:none;
}
.msu-vtab h4{
    margin-bottom:20px;
}
.msu-vtab li.vtab{
    position:relative;
    display:block;
    width:100%;
    clear:both;
    vertical-align:top;
   
   
 
}
.msu-vtab li.active, .tab-content{
 background-color: #f6f6f6;

}
  .msu-vtab .vtab a:link{
    font-weight: 700;
    text-decoration: none;
    color:#000000;
    width:100%;
    display:block;
    }
</style>

<div class="row msu-vtab g-0">
<div class="tab-nav col-md-{{ tabs_width }}">
<ul class="nav nav-tabs nav-stacked" role="tablist">

    {% for tab in tabs %}
        <li role="presentation" class="vtab p-3 {{ tab.active ? "active" : "" }}" ><a href="#{{ tab.id }}" aria-controls="home" role="tab" data-toggle="tab">{{ tab.title }}</a></li>
    {% endfor %}
</ul>
</div>

<div class="tab-content p-3 col-md-{{ 12 - tabs_width }}">
    {% for tab in tabs %}
        <div role="tabpanel" class="tab-pane {{ tab.active ? "active" : "" }}" id="{{ tab.id }}">{{ tab.text }}</div>
    {% endfor %}
</div>
</div>
