{#
/**
 * @file
 * Custom theme implementation for the Horizontal tabs field.
 *
 * Available variables:
 * - header: The Headline.
 * - body: The body field.
 * - tab_display: 'tabs' or 'pills'.
 * - tab_display: optional 'flex-column' (vertical)
 * - instance_id: an HTML ID that differentiates this tab group.
 *
 * @ingroup themeable
 */
#}


<ul class="nav nav-{{ tab_display }}" id="{{ instance_id }}" role="tablist">

    {% if items %}
      {% for item in items %}
        {% set state = "" %}
        {% set selected = "false" %}
        {% if loop.first %}
          {% set state = " active" %}
          {% set selected = "true" %}
        {% endif %}
        <li class="nav-item{{ state }}" role="presentation">
  
          <button class="nav-link {{ state }}" id="{{ item.id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ item.id }}-tab-pane" type="button" role="tab" aria-controls="{{ item.id }}-tab-pane" aria-selected="true">{{ item.header}}</button>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
    {% if items %}
  
          <div class="tab-content" id="{{ instance_id }}Content">
        {% for item in items %}
          {% set state = "" %}
          {% if loop.first %}
            {% set state = " active in show" %}
          {% endif %}
  
          
          <div class="tab-pane fade{{ state }}" id="{{ item.id }}-tab-pane" role="tabpanel" aria-labelledby="{{ item.id }}-tab" tabindex="0">{{ item.body }}</div>
  
        {% endfor %}
      </div>
    {% endif %}
