@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css";
@import "variables_msu";
@import "fonts";

// for Duotones need both files
//@import "fontawesome/scss/duotone.scss";
//@import "fontawesome/scss/_duotone-icons.scss";

// Sub theme styling.
body {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
}
.clear {
  clear: both;
}

#header-menu {
  position: relative;
  z-index: 10;
  color: $spartangreen;
}

#msu-header {
  padding-top: 15px;
  position: relative;
  background-color: $spartangreen !important;
  z-index: 10;
  padding-bottom: 15px;
}

#header-container {
  background-size: cover;
  background-position: center;
}

#sub-header {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  position: relative;
  z-index: 10;
  a {
    color: $spartangreen;
  }
}
.navbar-brand .site-title {
  text-transform: none !important;
  letter-spacing: normal !important;
  font-size: 1.75rem !important;
  font-weight: 600 !important;
}
.sub-page-header {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  position: relative;
  z-index: 10;
  a {
    color: $black !important;
  }
}
.audience-menu {
  .nav-link,
  .media-library-view--widget .view-header a {
    display: inline-block !important;
  }
  ul.navbar-nav {
    padding-left: 5px;
    margin-bottom: 0;
    margin-top: 5px;
    display: inline !important;
    float: right;
    a {
      color: $white;
      text-decoration: none !important;
      font-weight: 700;
      font-size: 1rem;
    }
    li.nav-item {
      list-style: none;
      display: inline-block;
    }
    li.nav-item:after {
      content: "|";
      padding: 0 0.4rem;
      color: $spartangreen;
    }

    li.nav-item:last-child:after {
      content: "";
    }
  }
}
#top-menu {
  background-color: $spartangreen;
  display: block;
  width: 100%;
  position: relative;
}

h1.line a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.75px;
  font-size: 3.75rem;
}
h1.line:after {
  content: " ";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 25px;
}
.hero-description h2 {
  max-width: 480px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 40px;
}
.hero-link a {
  color: #fff !important;
  border: 2px solid $white !important;
  text-decoration: none !important;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #9b9c9e;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2rem;
  letter-spacing: 0.51px;
  color: #151a22;
  padding: 10px 35px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//News Section
#news {
  padding-top: 20px;
  padding-bottom: 20px;
  .views-field-field-news-image {
    margin-bottom: 20px;
  }
  .news-title,
  .views-field-title .news-title a,
  .views-field-title a {
    font-size: 1.375rem;
    text-decoration: none !important;
    color: $black;
    line-height: 1.33;
    letter-spacing: -0.04px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  .news-description,
  .views-field-field-news-description {
    font-size: 1.2rem;
    line-height: 1.625;
    font-weight: 400;
    color: $black;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .news-link a,
  .views-field-field-news-link a {
    background-color: $spartangreen;
    border-color: $spartangreen;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #9b9c9e;
    font-size: 1.2rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.51px;
    padding: 10px 35px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
    max-width: 277px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .views-field-field-news-link a:hover {
    color: #00c24e;
  }
}

//Welcome homepage block
#homepage-welcome-message {
  padding-top: 40px;
  padding-bottom: 20px;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.625;
    font-weight: 400;
    margin-bottom: 1.875rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
#events {
  padding: 0;
  margin-top: 30px;
  .grid {
    margin: 0 auto;
    padding: 0em 0em;
    width: 100%;
    list-style: none;
  }

  /* Common style */
  .grid figure {
    position: relative;

    overflow: hidden;
    margin: 0px 0%;
    min-width: 320px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    background: $spartangreen;
    cursor: pointer;
    height: 405px;
  }

  .grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
  }

  .grid figure figcaption {
    padding: 2em;
    color: #fff;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  .grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  .grid figure h2 {
    font-weight: 300;
  }

  .grid figure h2 span {
    font-weight: 800;
  }

  .grid figure h2,
  .grid figure p {
  }

  p.event-date {
    padding-top: 10px;
    font-weight: 700;
    font-size: 0.7vw;
  }
  p.event-location {
    font-weight: 700;
    font-size: 0.7vw;
  }

  /* Individual effects */

  /*---------------*/
  /***** Chico *****/
  /*---------------*/

  figure.effect-chico img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }

  figure.effect-chico:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  figure.effect-chico figcaption {
    padding: 3em;
  }

  figure.effect-chico figcaption::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: "";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  figure.effect-chico figcaption::before,
  figure.effect-chico p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  figure.effect-chico h2,
  figure.effect-chico h2 a {
    text-decoration: none !important;
    color: $white !important;
    font-weight: 800 !important;
    display: block !important;
  }

  figure.effect-chico p {
    margin: 0 auto;

    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  figure.effect-chico:hover figcaption::before,
  figure.effect-chico:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .col-12,
  .col-sm-12,
  .col-md-4,
  .col-lg-4,
  .col-xl-4 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .date-wrapper {
    width: 150px;
    height: 170px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    border: 2px solid #fff;
    padding: 15px;
    margin-bottom: 25px;
    text-align: center;
    display: block;
    .month {
      font-size: 1rem;
      font-weight: 800;
      letter-spacing: 0.38px;
      text-transform: uppercase;
    }
    .day {
      font-size: 5rem;
      line-height: 1;
      text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
      text-align: center;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0;
    }
    .year {
      font-size: 0.9375rem;
      font-weight: 800;
      letter-spacing: 1px;
    }
  }
  .event-info-wrapper {
    display: block;
    width: 100%;
    margin: 20px;
  }
}

.event-row {
  word-wrap: normal;
  display: flex;
  flex-wrap: wrap;
}
.col-date {
  min-width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.col-info {
  width: 80%;
}
.event-info-wrapper {
  .event-title,
  .event-title a {
    font-size: 1vw;
    font-weight: 800;
    letter-spacing: 0.38px;
    text-decoration: none;
    color: $white;
    text-transform: capitalize;
    line-height: 1;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  }
}
#main-content {
  padding-bottom: 30px;
  .region-breadcrumb {
    font-weight: 700;
    a {
      font-size: 0.875rem;
      line-height: 28px;
      display: inline-block;
      margin-bottom: 0;
      text-decoration: none;
      color: #000000;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.region-sidebar-first,
.region-sidebar-second,
.region-footer,
.region-content {
  padding: 0;
}
#site-bottom {
  background-color: $lightgray;
  padding-top: 90px;
  padding-bottom: 90px;
}
#dept-footer {
  background-color: $msufooter;
  color: $white;
  padding-top: 60px;
  padding-bottom: 40px;
  a {
    color: $white;
  }
  h5,
  h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: 1.13px;
    color: #fff;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  li {
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  li.nav-item {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500 !important;
    :hover {
      text-underline-offset: 3px;
      text-decoration: underline #00c24e 2px;
    }
  }
  nav {
    margin-bottom: 2rem;
    ul {
      margin: 0 !important;
      padding: 0 !important;
    }
    li {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}
.region-footer {
  padding-bottom: 40px;
}
#msu-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  .col-lg-4 img {
    margin-bottom: 0;
    width: 100%;
  }
  ul {
    display: block;
    padding-left: 0;
    line-height: 1;
    padding-bottom: 3px;
    margin-bottom: 0;
  }
  ul:first-child {
    margin-bottom: 5px;
    padding-bottom: 2px;
  }
  ul li {
    list-style: none;
    display: inline;
    line-height: 1;
    position: relative;
  }
  ul:first-child li {
    list-style: none;
    padding-bottom: 2px;
    border-bottom: 1px dotted #979797;
  }
  ul li a {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #000;
    display: inline-block;
    text-decoration: none;
  }
  ul li span {
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
  }
  ul li.small-text,
  footer .bottom ul li.small-text a {
    font-size: 9px;
    letter-spacing: 0.12px;
    color: #000;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 400;
  }
  ul li.small-text a {
    font-weight: 500;
  }
  ul li.bold-text,
  footer .bottom ul li.bold-text a {
    font-weight: 500;
  }
  .container img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
  }
}
.footer-socialmedia,
.region-footer-socialmedia {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    margin: 5px 20px;
    float: left;
  }

  .wp-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 150px;
    text-align: center;
    margin-right: 18px;
    transition: all 0.5s;
    color: #18453b;
    padding: 10px;
  }

  .wp-icon:hover {
    background-color: $msufooter;

    color: $white;
  }
}
.region-footer-sticker {
  td {
  }
  img {
    width: 108px;
    height: 108px;
    margin-right: 20px;
  }
}
//Search Block

.search-box {
  text-align: right;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  form {
    min-width: 339px;
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .search-box {
    display: none;
  }
}
.search-box a,
.search-box button {
  position: absolute;
  top: 0;
  right: 0px;
  color: #151a22;
  height: 36px;
  border: none;
  background: none;
}
.search-box a i,
.search-box button i {
  padding-top: 7px;
  color: #151a22;
}
@media (max-width: 991.98px) {
  .search-box a i,
  .search-box button i {
    padding-top: 10px;
  }
}
.search-box input {
  border-radius: 5px;
  border: 1px solid #757575;
  background-color: #fff;
  padding: 10px 80px 9px 15px;
  font-size: 0.75rem;
  line-height: 12px;
  width: 100%;
  text-align: left;
  color: #151a22;
}
.search-box input:-ms-input-placeholder {
  color: #44484e;
}
.search-box input::-moz-placeholder {
  color: #44484e;
}
.search-box input::-ms-input-placeholder {
  color: #44484e;
}
.search-box input::placeholder {
  color: #44484e;
}

.homepage-feature-bg-img {
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
}

.home-hero {
  width: 100%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  position: relative;
}
.hero-homepage {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

//Cards Paragraph

.msu-card {
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  .card-image img {
    width: 100%;
  }
  .card {
    border: none;
    .card-body {
      margin: 0;
      padding: 0;
    }
    .card-title {
      font-size: 1.375rem;
      margin-bottom: 10px;
      letter-spacing: -0.4px;
      padding-top: 20px;
      font-weight: 700;
    }
    p {
      font-size: 1rem !important;
      margin-bottom: 30px;
      letter-spacing: -0.4px;
      font-weight: 400;
    }

    .card-link a,
    .field--type-link a {
      font-weight: 700;
      display: inline-block;
      border: 1px solid #9b9c9e;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2rem;
      letter-spacing: 0.51px;
      color: #151a22;
      padding: 10px 35px;
      transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
      max-width: 277px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $spartangreen;
      border-color: #18453b;
      color: #fff;
    }
    .card-link a:hover {
      color: #00c24e;
    }
  }
}
.field--name-field-paragraph-link-set-title,
.field--name-field-para-text-blk-title {
  font-size: 1.375rem;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
  padding-top: 20px;
  font-weight: 700;
}
.field--name-field-paragraph-link-set-title:after,
.field--name-field-para-text-blk-title::after {
  content: " ";
  display: block;
  width: 32px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 20px;
  margin-bottom: 20px;
}
.paragraph--type--links {
  .field__item {
    margin-bottom: 12px;
    width: 100%;
    background-color: $spartangreen;

    padding: 5px;
  }

  .field--type-link a {
    font-weight: 700;
    border: 1px solid #9b9c9e;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.51px;
    color: #151a22;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
    min-width: 50%;
    max-width: 50%;
    text-decoration: none;
    text-overflow: ellipsis;
    border: none;
    color: #fff;
  }
  .field--type-link a:hover {
    color: #00c24e;
  }
}

.imgtxt-row {
  margin-bottom: 30px;

  .card-body {
    margin: 0;
    padding: 0;
  }
  .card-title {
    margin-bottom: 10px;
    letter-spacing: -0.4px;
    padding-top: 20px;
    font-weight: 700;
  }

  p {
    font-size: 1rem !important;
    margin-bottom: 30px;
    letter-spacing: -0.4px;
    font-weight: 400;
  }
  .card-link a {
    font-weight: 700;
    display: inline-block;
    border: 1px solid #9b9c9e;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.51px;
    color: #151a22;
    padding: 10px 35px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
    max-width: 277px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $spartangreen;
    border-color: #18453b;
    color: #fff;
  }
  .card-link a:hover {
    color: #00c24e;
  }
}
.card-title-line:after {
  content: " ";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 20px;
}

//Accordion Style
.accordion {
  margin-bottom: 30px;
  margin-top: 30px;
}
.accordion-button:not(.collapsed) {
  background-color: #efefef !important;
  border: #cec8ba solid 1px !important;
  text-transform: uppercase !important;
  color: #000000 !important;
}
.accordion-button {
  background-color: #efefef;
  border: #cec8ba solid 1px;
  text-transform: uppercase;
  color: #000000;
}
.accordion-button::after {
  color: #000000 !important;
}
button {
  color: #000000 !important;
}

.carousel-item {
  display: block !important;
}
h2.slide__title {
  font-size: 1.375rem;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
  padding-top: 20px;
  font-weight: 700;
  color: #fff;
}
h2.slide__title:after {
  content: " ";
  display: block;
  width: 30px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 20px;
}
.slide__description {
  font-size: 1rem !important;
  margin-bottom: 30px;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #fff;
}
.media--image {
  width: 100%;
  height: 100%;
}
.media--image img {
  width: 100%;
  height: 100%;
}
.media__iframe {
  position: relative !important;
  height: max-content !important;
  background-color: red !important;
}

//Sidebar Menu

.region-sidebar-second nav,
.region-sidebar-first nav {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #b9f0cd;
  border-top: 5px solid #00c24e;
  margin: 10px;
  word-wrap: break-word !important;
  .is-active {
    font-weight: bold !important;
  }
  .dropdown-toggle::after {
    color: #00c24e !important;
    margin-left: 10px;
    display: none;
  }

  h5 {
    font-size: 1.5rem !important;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: normal;
    color: #151a22;
    padding-left: 15px;
    padding-right: 15px;
  }
  h5::after {
    content: " ";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 0;

    li {
      font-size: 1rem;
      line-height: 1.875;
      font-weight: 300;
      color: #151a22;
      list-style: none !important;
      a {
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: normal;
        color: #44484e;
        padding-top: 6px;
        padding-bottom: 6px;
        text-decoration: none;
        font-weight: 600;
      }
      a:hover {
        text-decoration: underline;
        color: $black;
      }
      ul {
        background-color: #f6f6f6;
      }
      li {
      }
    }
  }
}
.region-sidebar-second ul.nav li.nav-item a.dropdown-toggle {
  white-space: unset !important;
}
.field {
  margin-bottom: 10px;
}
.p-10 {
  padding: 9px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: $open-sans;
  font-weight: bolder;
  content: var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, "/");; */;
}

.field.field--name-field-page-hero.field--type-image.field--label-hidden.field__item.quickedit-field,
.field.field--name-field-page-hero.field--type-image.field--label-hidden.field__item {
  visibility: hidden;
}

//layout region

.layout__region .paragraph {
  padding: 10px;
}

.text-align-center {
  text-align: center !important;
}

.user-name {
  font-weight: bolder;
  font-size: 1.6rem !important;
}

.btn:focus,
a:focus {
  outline: none !important;
}
*:focus {
  outline: none !important;
}

.button {
  float: left;
  a {
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.ultimenu {
  background-color: #18453b !important;
}
.region-headermenu {
  ul.navbar-nav {
    list-style: none;
    flex-direction: unset !important;
    display: flex;
    list-style: none;
    li.nav-item {
      font-weight: bold;
    }
    li.nav-item a:after {
      content: "|";
      padding-left: 1rem;
    }
    li.nav-item:last-child a:after {
      content: "";
    }
  }
}

.hero-banner {
  position: relative;
  height: 812px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .hero-banner {
    height: 1024px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner {
    height: auto;
  }
}

.hero-banner.small-banner {
  height: 571px;
}

@media (max-width: 1199.98px) {
  .hero-banner.small-banner {
    height: 648px;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.small-banner {
    height: 500px;
  }
}

.hero-banner.small-banner .overlay {
  bottom: 50px;
}

.hero-banner.small-banner .overlay h2 {
  font-size: 1.125rem;
}

.hero-banner.story-size {
  height: 663px;
}

@media (max-width: 767.98px) {
  .hero-banner.story-size {
    height: 277px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner .background-image {
    position: static !important;
    height: 592px;
  }
}

.hero-banner .gradient {
  z-index: 11;
}

@media (max-width: 767.98px) {
  .hero-banner .gradient {
    height: 592px;
  }
}

.hero-banner .hero-play-button {
  width: 78px;
  height: 78px;
  border-radius: 150px;
  border: 3px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  z-index: 11;
}

.hero-banner .hero-play-button i {
  color: #fff;
  font-size: 2.5rem;
  padding-top: 16px;
  padding-left: 7px;
}

.hero-banner .video-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767.98px) {
  .hero-banner .video-container {
    display: none;
  }
}

.hero-banner .video-container iframe,
.hero-banner .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  z-index: -100;
}

.hero-banner .video-container.foreground {
  display: none;
}

.hero-banner .video-controls {
  position: absolute;
  bottom: 60px;
  right: 70px;
  z-index: 11;
}

@media (max-width: 991.98px) {
  .hero-banner .video-controls {
    display: none;
  }
}

.hero-banner .video-controls i {
  color: #fff;
  font-size: 1.875rem;
  cursor: pointer;
}

.hero-banner .video-controls i.fa-play {
  display: none;
}

@media (max-width: 991.98px) {
  .hero-banner.center .background-image {
    position: absolute;
  }
}

.hero-banner.center .overlay {
  text-align: center;
}

@media (max-width: 991.98px) {
  .hero-banner.center .overlay {
    background-color: transparent;
    position: absolute;
    padding-bottom: 30px;
  }

  .hero-banner.center .overlay h1,
  .hero-banner.center .overlay h2,
  .hero-banner.center .overlay p {
    color: #fff;
  }

  .hero-banner.center .overlay a.cta {
    color: #fff;
    border-color: #fff;
  }
}

.hero-banner.center .overlay h1,
.hero-banner.center .overlay h1.line:after,
.hero-banner.center .overlay h2,
.hero-banner.center .overlay p.line:after {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767.98px) {
  .hero-banner.center .overlay h1 {
    font-size: 1.875rem;
  }
}

.hero-banner .overlay {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  z-index: 11;
}

.hero-banner .overlay .col-12 > a:focus {
  outline-color: #fff;
  outline-width: 2px;
}

.hero-banner .overlay.dark .col-12 > a:focus {
  outline-color: #151a22;
}

.hero-banner .overlay.dark a.cta,
.hero-banner .overlay.dark h1,
.hero-banner .overlay.dark h2,
.hero-banner .overlay.dark p.date {
  color: #151a22;
}

.hero-banner .overlay.dark a.cta {
  border-color: #151a22;
}

.hero-banner .overlay.dark a.cta:focus {
  outline-color: #151a22;
}

.hero-banner .overlay a.cta {
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.hero-banner .overlay a.cta:hover {
  border-color: #44484e;
}

.hero-banner .overlay a.cta:focus {
  outline-color: #fff;
}

.hero-banner .overlay h1 {
  display: inline-block;
  color: #fff;
  max-width: 810px;
  font-size: 3.75rem;
  line-height: 1.17;
  letter-spacing: 0.75px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 1199.98px) {
  .hero-banner .overlay h1 {
    font-size: 2.5rem;
  }
}

.hero-banner .overlay h1.line:after {
  content: " ";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 25px;
}

.hero-banner .overlay h1.large {
  font-size: 80px;
}

@media (max-width: 991.98px) {
  .hero-banner .overlay h1.large {
    font-size: 38px;
  }
}

.hero-banner .overlay h1.small {
  font-size: 2.5rem;
}

@media (max-width: 991.98px) {
  .hero-banner .overlay h1.small {
    font-size: 1.875rem;
  }
}

.hero-banner .overlay h2 {
  max-width: 480px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: 40px;
}

@media (max-width: 1199.98px) {
  .hero-banner .overlay h2 {
    font-size: 1.375rem;
  }
}

@media (max-width: 767.98px) {
  .hero-banner .overlay h2 {
    font-size: 1rem;
  }
}

.hero-banner .overlay p.date {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
}

.hero-banner .overlay p.line {
  position: relative;
}

.hero-banner .overlay p.line:after {
  content: " ";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #00c24e;
  margin-top: 25px;
}

.hero-banner .overlay .social-links {
  margin-bottom: 30px;
  position: absolute;
  right: 15px;
  bottom: 0;
}

@media (max-width: 767.98px) {
  .hero-banner .overlay .social-links {
    display: none;
  }
}

.hero-banner .overlay .social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  border-radius: 150px;
  text-align: center;
  margin-right: 15px;
  transition: all 0.5s;
}

.hero-banner .overlay .social-links a i {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 1.25rem;
  color: #113d34;
}

.hero-banner .overlay .social-links a:hover {
  background-color: #113d34;
}

.hero-banner .overlay .social-links a:hover i {
  color: #fff;
}

.hero-banner .overlay .social-links a:last-child {
  margin-right: 0;
}

.hero-banner .overlay .social-links p {
  font-size: 0.875rem;
  line-height: 1.71;
  letter-spacing: normal;
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: 1199.98px) {
  .hero-banner .overlay .social-links p {
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.regular .overlay {
    position: static;
    padding-bottom: 10px;
    padding-top: 30px;
    background-color: #fff;
  }

  .hero-banner.regular .overlay a.cta {
    color: #151a22;
    border-color: #151a22;
  }

  .hero-banner.regular .overlay a.cta:hover {
    color: #fff;
    border-color: #44484e;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.regular .overlay h1,
  .hero-banner.regular .overlay h2 {
    color: #151a22;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.regular .overlay p.date {
    color: #151a22;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.event .background-image,
  .hero-banner.event .gradient,
  .hero-banner.story .background-image,
  .hero-banner.story .gradient {
    height: 100%;
  }
}

.hero-banner.event .overlay,
.hero-banner.story .overlay {
  bottom: 50px;
}

@media (max-width: 991.98px) {
  .hero-banner.event .overlay,
  .hero-banner.story .overlay {
    position: absolute;
    padding: 0;
    background-color: transparent;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.event .overlay,
  .hero-banner.story .overlay {
    bottom: 15px;
  }
}

.hero-banner.event .overlay h1,
.hero-banner.story .overlay h1 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.5px;
  max-width: none;
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .hero-banner.event .overlay h1,
  .hero-banner.story .overlay h1 {
    color: #fff;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.event .overlay h1,
  .hero-banner.story .overlay h1 {
    width: 100%;
    max-width: none;
    font-size: 1.875rem;
  }
}

.hero-banner.event .overlay h2,
.hero-banner.story .overlay h2 {
  font-size: 1.125rem;
}

@media (max-width: 1680px) {
  .hero-banner.story {
    height: 450px;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.story {
    height: 592px;
  }
}

.hero-banner.event .overlay {
  bottom: 75px;
}

@media (max-width: 767.98px) {
  .hero-banner.event .overlay {
    bottom: 15px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.event .overlay .social-links {
    display: block;
    position: static;
    margin-bottom: 0;
    margin-top: 50px;
  }

  .hero-banner.event .overlay .social-links p {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
  }

  .hero-banner.event .overlay .social-links a {
    height: 32px;
    width: 32px;
  }

  .hero-banner.event .overlay .social-links a i {
    font-size: 0.9375rem;
  }
}

.hero-banner.event .overlay h1 {
  margin-bottom: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
  .hero-banner.event .overlay h1 {
    line-height: 1.33;
    letter-spacing: 0.5px;
  }
}

.hero-banner.event .stylized-date {
  width: 120px;
  height: 120px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  padding: 15px 5px;
  margin-bottom: 25px;
}

.hero-banner.event .stylized-date p {
  text-align: center;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}

.hero-banner.event .stylized-date p:first-child {
  font-size: 0.75rem;
  font-weight: 800;
  letter-spacing: 0.38px;
  text-transform: uppercase;
}

.hero-banner.event .stylized-date p:last-child {
  font-size: 4.375rem;
  line-height: 1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns {
    height: auto;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .background-image.tablet {
    display: block;
    position: static;
    top: auto;
    left: auto;
    height: 648px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.dropdowns .background-image.tablet {
    display: none;
  }
}

.hero-banner.dropdowns .background-image.mobile {
  height: 500px;
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .gradient {
    height: 648px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.dropdowns .gradient {
    height: 500px;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .video-container {
    display: none;
  }
}

.hero-banner.dropdowns .overlay {
  bottom: 234px;
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .overlay {
    position: static;
    bottom: auto;
    left: auto;
    padding-top: 35px;
    padding-bottom: 70px;
  }
}

.hero-banner.dropdowns .overlay h1 {
  font-weight: 900;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199.98px) {
  .hero-banner.dropdowns .overlay h1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .overlay h1 {
    color: #151a22;
    text-shadow: none;
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.dropdowns .overlay h1 {
    font-size: 1.875rem;
  }
}

.hero-banner.dropdowns .overlay h2 {
  text-shadow: 0 0 4px rgba(14, 14, 14, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 650px;
  margin-bottom: 60px;
}

@media (max-width: 991.98px) {
  .hero-banner.dropdowns .overlay h2 {
    color: #151a22;
    text-shadow: none;
    font-size: 1.125rem;
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.dropdowns .overlay h2 {
    font-size: 1rem;
  }
}

.hero-banner.series {
  height: 700px;
}

@media (max-width: 767.98px) {
  .hero-banner.series {
    height: 500px;
  }
}

.hero-banner.series .gradient {
  height: 700px;
}

@media (max-width: 767.98px) {
  .hero-banner.series .gradient {
    height: 500px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.series .video-container {
    display: none;
  }
}

.hero-banner.series .overlay {
  bottom: 70px;
}

@media (max-width: 767.98px) {
  .hero-banner.series .overlay {
    bottom: 50px;
  }
}

.hero-banner.series .overlay .social-links {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .hero-banner.series .overlay .social-links {
    display: none;
  }
}

.hero-banner.series .overlay .social-links p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1199.98px) {
  .hero-banner.series .overlay .social-links p {
    display: inline-block;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.series .overlay .social-links p {
    display: block;
  }
}

.hero-banner.series .overlay .addthis_inline_share_toolbox {
  display: inline-block;
}

.hero-banner.series .overlay .addthis_inline_share_toolbox .at-share-btn-elements a.at-icon-wrapper {
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(21, 26, 34, 0.2);
  background-color: #fff !important;
  border-radius: 150px !important;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 15px;
  margin-bottom: 0;
}

.hero-banner.series .overlay .addthis_inline_share_toolbox .at-share-btn-elements a.at-icon-wrapper .at-icon-wrapper {
  position: absolute;
  left: 10px;
  top: 11px;
}

.hero-banner.series .overlay .addthis_inline_share_toolbox .at-share-btn-elements a.at-icon-wrapper svg path,
.hero-banner.series .overlay .addthis_inline_share_toolbox .at-share-btn-elements a.at-icon-wrapper svg polygon {
  stroke: #18453b;
  fill: #18453b;
}

.hero-banner.series .overlay a {
  text-decoration: none;
}

.hero-banner.series .overlay h1 {
  display: block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.75px;
  font-weight: 900;
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  .hero-banner.series .overlay h1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991.98px) {
  .hero-banner.series .overlay h1 {
    max-width: 550px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner.series .overlay h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 700;
  }
}

.hero-banner.series .overlay p.tag {
  position: static;
  top: auto;
  left: auto;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 767.98px) {
  .hero-banner.series .overlay p.tag {
    margin-bottom: 10px;
  }
}

.hero-banner.series .overlay p.date {
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  font-weight: 300;
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .hero-banner.series .overlay p.date {
    display: block;
    margin-bottom: 30px;
    font-size: 0.875rem;
  }
}

.hero-banner .filter-dropdowns .container {
  padding: 0;
}

.hero-banner .filter-dropdowns select {
  height: 46px;
  background-color: #fff;
  border: none;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #151a22;
  border-radius: 2px;
  margin-right: 25px;
  vertical-align: top;
}

@media (max-width: 991.98px) {
  .hero-banner .filter-dropdowns select {
    border: 1px solid #151a22;
  }

  .hero-banner .filter-dropdowns select.right-dropdown {
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  .hero-banner .filter-dropdowns select {
    margin-bottom: 20px;
  }

  .hero-banner .filter-dropdowns select.right-dropdown {
    margin-bottom: 0;
  }
}

.hero-banner .filter-dropdowns select:focus {
  outline-offset: 3px;
  outline-color: #151a22;
  outline-style: dashed;
  outline-width: 2px;
}

.hero-banner .filter-dropdowns button.cta {
  margin-top: 3px;
}

@media (max-width: 991.98px) {
  .hero-banner .filter-dropdowns button.cta {
    margin-top: 30px;
  }
}

@media (max-width: 767.98px) {
  .hero-banner:not(.center) + .breadcrumbs {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.slide-overlay h1 {
  text-transform: uppercase;
}
.slide-link a {
  font-weight: 700;
  display: inline-block;
  border: 1px solid #9b9c9e;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2rem;
  letter-spacing: 0.51px;
  color: #151a22;
  padding: 10px 35px;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
  max-width: 277px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero-banner .overlay .slide-link a {
  color: #fff;
  background: #18453b;
  border-color: #18453b;
  border-width: 2px;
  margin-bottom: -60px;
}
.hero-banner .overlay h1 {
  text-shadow: 0px 1px 1px rgb(0 0 0 / 98%), 0px 1px 20px rgb(0 0 0 / 98%);
}
.hero-banner .overlay h2 {
  max-width: 600px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  margin-bottom: -30px;
  text-shadow: 0 1px 1px rgb(0 0 0 / 99%), 0px 1px 20px rgb(0 0 0 / 98%), 0px 1px 20px rgb(0 0 0 / 98%);
}
#toolbar-administration {
  z-index: 9999;
  position: relative;
}

#alert-message {
  position: relative;
}
.alert .fontawesome-icon {
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}

.ultimenu__flyout .block {
  order: 2;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #18453b;
  color: $white;
  h2 {
    font-size: 17px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: normal;
    color: #63b3a2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #63b3a2;
    position: relative;
  }
  a {
    color: $white;
  }
}
.ultimenu__region {
  display: flex;

  .ultimenusub {
    color: $white !important;
    font-weight: 600;

    a:after {
      content: unset;
    }
    .nav-link {
    }
  }
}
@media screen and (max-width: 960px) {
  .ultimenu__region {
    display: flex;
  }
}
.ultimenu__item a {
  border-bottom: solid;
  border-bottom-width: 5px;
  border-bottom-color: $spartangreen;
}
.ultimenu__item {
}
.ultimenu__item a:after {
  vertical-align: middle;
  padding-left: 30px;
  content: "|";
}
.ultimenu__item:last-child a:after {
  display: none;
}
.ultimenu__item a:hover {
  border-color: #00c24e;
}
@media screen and (max-width: 960px) {
  .ultimenu__region {
    display: unset !important;
  }
  .ultimenu__item a:after {
    display: none;
  }
}
@media (min-width: 59em) {
  .ultimenu .ultimenu__link {
    line-height: 0.5 !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .ultimenu.ultimenu--hover .ultimenu__link {
    padding-right: 0em;
  }
}

/**
 * @file
 * Skin based on safe CSS file name: ultimenu--msu.
 */

.ultimenu {
  background-color: #18453b;
  color: #999;
  margin-left: auto;
  margin-right: auto;
}

.ultimenu .ultimenu__flyout {
  background-color: #173830;
  .ultimenu__item a {
    border-bottom-color: #173830 !important;
  }
}

.ultimenu .ultimenu__region {
  background-color: #173830;
}

.ultimenu .ultimenu__link {
  color: #eaeaea;
  z-index: 103; /* Above the flyout z-index: 102 */
}
/* @todo is-active https://www.drupal.org/node/2281785 */
.ultimenu > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
.ultimenu .is-ultimenu-active,
.ultimenu .is-active-trail > a {
  color: #fff;
}

.ultimenu .ultimenu__flyout {
}

/**
 * 944px below with 16px base font.
 */
@media all and (max-width: 58.999em) {
  .ultimenu .ultimenu__link {
    border-top: 1px solid #205e51;
  }
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--hover.ultimenu li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu li a:focus + .ultimenu__flyout,
  .ultimenu--hover.ultimenu li .ultimenu__flyout:focus-within {
    margin-top: -1px;
  }
}

table {
  border: 1px solid #18453b;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.625 !important;
  font-weight: 500 !important;
  text-align: left !important;
  margin-bottom: 1rem;
}
table td,
table th {
  border: 1px solid #cccccc;
  padding: 10px 10px;
}
table tbody td {
}
table tr:nth-child(even) {
  background: #f6f6f6;
}
table thead {
  background: #18453b;
  border-bottom: 2px solid #444444;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #ffffff;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #18453b;
  border-top: 2px solid #444444;
}
table tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table tfoot .links a {
  display: inline-block;
  background: #00c24e;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

#card-img-left-right {
  .imgtxt-image img {
    width: 100% !important;
  }
}

.msu-card-container {
  display: flex;
  flex-flow: wrap;
}
.msu-card {
  .field--name-field-card-description,
  .msu-video-description {
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
    margin-bottom: 1.875rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .card-link a {
    font-weight: 700;
    display: inline-block;
    border: 1px solid #9b9c9e;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.51px;
    color: #151a22;
    padding: 10px 35px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s, border-color 0.5s;
    max-width: 277px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $spartangreen;
    border-color: #18453b;
    color: #fff;
  }
  .card-link a:hover {
    color: #00c24e;
  }
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

#block-msu5-page-title {
  margin-top: 20px;
}
.team-city-state-zip {
  display: flex;
  span {
    display: inline-flex;
  }
  .com,
  .team-state {
    margin-left: 2px;
    margin-right: 4px;
  }
}
.team-card {
  .padding {
    padding: 3rem !important;
  }

  .user-card-full {
    overflow: hidden;
  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
  }

  .m-r-0 {
    margin-right: 0px;
  }

  .m-l-0 {
    margin-left: 0px;
  }

  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }

  .bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#7bbd00), to(#0b9a6d));
    background: linear-gradient(to right, #0b9a6d, #7bbd00);
  }

  .user-profile {
    padding: 20px 0;
  }

  .card-block {
    padding: 1.25rem;
  }

  .m-b-25 {
    margin-bottom: 25px;
  }

  .img-radius {
    border-radius: 5px;
  }

  h6 {
    font-size: 14px;
  }

  .card .card-block p {
    line-height: 25px;
  }

  @media only screen and (min-width: 1400px) {
    p {
      font-size: 14px;
    }
  }

  .card-block {
    padding: 1.25rem;
  }

  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .p-b-5 {
    padding-bottom: 5px !important;
  }

  .card .card-block p {
    line-height: 25px;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .text-muted {
    color: #919aa3 !important;
  }

  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }

  .f-w-600 {
    font-weight: 600;
  }

  .m-b-20 {
    margin-bottom: 20px;
  }

  .m-t-40 {
    margin-top: 20px;
  }

  .p-b-5 {
    padding-bottom: 5px !important;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .m-t-40 {
    margin-top: 20px;
  }

  .user-card-full .social-link li {
    display: inline-block;
  }

  .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .address {
    font-weight: 400;
  }
  .team-image {
    vertical-align: middle;
    text-align: center;
    width: 100%;
  }
  .profileimage {
    width: 132px;
    height: 132px;
    margin-left: auto;
    margin-right: auto;
  }
  .field--name-field-profile-image {
    width: 132px;
    height: 132px;
    background-color: #0b9a6d;
    border-radius: 50%;
    border-top: 2px dashed #000000;
    border-right: 2px dashed #000000;
    border-left: 2px dashed #f2ff00;
    border-bottom: 2px dashed #f2ff00;
    padding: 10px;
    animation: spin 10s infinite linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .image-style-card-profile-image {
    animation: spin 10s infinite reverse linear;
    width: 100%;
    border-radius: 50%;
  }
}
.field--name-field-link-card span,
.field--name-field-link-card a {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: normal;
  display: inline;
  position: relative;
}

.msu-card-link a::after {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  content: "\f061";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
}
.msu-card-link:hover a:after {
  padding-left: 3%;
  transition: 1s;
}

.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left > li {
  float: none;
  margin: 0px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background: #f90;
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.nav-tabs > li > a:hover {
  /* margin-right: 2px; */
  line-height: 1.42857143;
  border: 1px solid transparent;
  /* border-radius: 4px 4px 0 0; */
}
.tabs-left > li.active > a::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #f90;
  display: block;
  width: 0;
}

.msu-card-link,
.msu-card-link a:link {
  font-size: 1.875rem !important;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 2px;
  color: #151a22;
  display: inline;
  position: relative;
}
h2.tab-title {
  margin-bottom: 10px;
}
.contextual-links a {
  color: #000 !important;
}
.region-footer-sticker table {
  background-color: transparent !important;
  border: none;
  td {
    border: none;
  }
}
.is-ultimenu-canvas .is-ultimenu-canvas-off {
  z-index: 900 !important;
}
.is-ultimenu-expanded .is-ultimenu-canvas-backdrop,
.is-ultimenu-canvas--hiding .is-ultimenu-canvas-backdrop {
  z-index: 100;
}
.msu-video {
  margin: 0;
  padding: 0;
  .video-title {
    background-color: #191919;
    color: #ffffff;
    padding: 10px;
    margin-top: 0;
    min-height: 75px;
  }
}
.field--name-field-video-description {
  font-size: 1rem !important;
  line-height: 1.625 !important;
  font-weight: 400 !important;
  margin-bottom: 1.875rem !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.modal__btn {
  font-size: 2rem;
  background-color: #000000;
  color: #db1a05;
  position: relative;
  :hover {
    color: #00c24e;
    .fa-solid {
      display: block;
    }
  }
  .fa-solid {
    display: block;
  }
}

.fiv-cla {
  width: auto;
  line-height: inherit;
  padding-right: 25px;
  padding-left: 0px;
  background-position: top right;
}
.field--name-body ul li{
  font-weight: bold !important;
  a{
    font-weight: bold;
  }
}

figure, figcaption{
  padding: 10px;
  background-color: #efefef;

}
figure.align-left{
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
    }
    figure.align-right{
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
        }

  .region-content img.align-left{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .region-content img.align-right{
    margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  figcaption{
    font-size: 14px;
    font-style: italic;
  }
  .field--name-field-news-date{
    :after {
      font-size: 1rem;
    line-height: 1.625;
    font-weight: 400;
    margin-bottom: 1.875rem;
      content: " ";
      display: block;
      width: 40px;
      height: 4px;
      background-color: #00c24e;
      margin-top: 25px;
      margin-bottom: 20px;
  }
  }
.field--name-field-college-department{
  clear:right;
  display: flex;  
  flex-wrap: wrap;
  .field__item{
    border: solid 1px #000;
    margin: 5px;
    padding: 5px;
    background-color: #00c24e;
    flex-direction:column;
    a{
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
.field--name-field-news-type{
  clear: both;
}