/**
 * @file
 * Provides debug utilites, both front-end and Layout Builder pages.
 */

/*
Bad for background.
.user-logged-in .is-gs-debug.row .box__content {
  position: relative;
}
*/

.user-logged-in .is-gs-debug .gridstack__box {
  outline: 1px solid #eaeaea;
}

.user-logged-in .is-gs-debug .box__content::after,
.user-logged-in .is-gs-debug.row .box--empty::after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: auto;
  height: 100%;
  content: "";
  pointer-events: none;
  border: 1px dotted rgba(0, 0, 0, 0.2);
}

.user-logged-in .is-gs-debug .box__content[class*="bg-"]::after {
  display: none;
}

/* Do not set min height, affecting options. */
.user-logged-in .is-gs-debug.row .gridstack__box {
  /* min-height: 80px; */
  position: relative;
}

.user-logged-in .is-gs-debug:not(.layout-builder__layout) .gridstack__box {
  min-height: 32px;
}

.user-logged-in .gridstack.is-gs-debug .gridstack__box::before {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  min-width: 24px;
  min-height: 16px;
  padding: 4px 4px 2px;
  content: attr(data-gs-delta) attr(data-gs-region-name);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  line-height: 12px;
}

.user-logged-in .gridstack.is-gs-debug .gridstack__box.box--nested::before {
  min-width: 32px;
}

.user-logged-in .gridstack.row.is-gs-debug .gridstack__box::before,
.user-logged-in .gridstack.row.is-gs-lb .gridstack__box.box::before {
  left: 15px;
}

.user-logged-in .gridstack--gs.is-gs-debug .gridstack__box::before {
  left: 8px;
}

.user-logged-in .gridstack--js.is-gs-debug .gridstack__box::before,
.user-logged-in .gridstack--js.is-gs-lb .gridstack__box::before {
  left: 0;
}

.user-logged-in .gridstack.is-gs-debug .gridstack__box .box:first-child::before,
.user-logged-in .gridstack.is-gs-debug .gridstack__box.box--nested:first-child::before {
  left: 40px;
}

.user-logged-in .gridstack.is-gs-lbux.row .gridstack__box::before {
  top: 10px;
}
