<div class="homepage-news">
<div class="news-image">{{ fields.field_news_image.content }}</div>
<div class="news-title">{{ fields.title.content }}</div>
<div class="news-description">{{ fields.field_news_short_description.content }}</div>
<div class="news-link">{{ fields.view_node.content }}</div>
</div>
