{#
<style>
	header {
		position: absolute;

	}

	#header-menu {
		color: #ffffff !important;
        text-shadow: -1px 1px 4px #000000;
		a {
			text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff;
		}
	}
       .navbar-brand a.site-title {
     	text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff !important;
    }

	.hero-banner {
		position: relative;
		width: 100%;
		height: 812px;
		overflow: hidden;
		clear: both;
	}
	.background-image {
		background-repeat: no-repeat;
		background-position: right, top;
		background-size: cover;
		transition: all 0.5s;
		width: 100vw;
		height: 812px;
	}
</style>

<section class="hero-banner  gradient regular" data-module="hero-banner">
	<div class="background-image xl" style="background-image: url(&quot;{{ fields.field_slide_image.content }}&quot;);"></div>
	<div class="background-image md" data-bg="{{ fields.field_slide_image.content }}"></div>
	<div class="background-image sm" data-bg="{{ fields.field_slide_image.content }}"></div>

	<div class="gradient"></div>

	<div class="overlay slide-overlay">
		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<a href="https://msu.edu/emergency/resources" aria-label="{{ fields.title.content }}">
						<h1 class=" medium">{{ fields.title.content }}</h1>
					</a>
					<h2>{{ fields.field_slide_description.content }}</h2>
					<div class="slide-link">{{ fields.field_link.content }}</div>
				</div>

			</div>
		</div>
	</div>
</section>
#}

<style>
	header {
		position: absolute;

	}

	#header-menu {
		color: #ffffff !important;
        text-shadow: -1px 1px 4px #000000;
		a {
			text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff;
		}
	}
   .navbar-brand a.site-title {
     	text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff !important;
    }
	.region-pagetitle {
		display: none !important;
	}


        .hero {
            position: relative;
            width: 100%;
            height: 812px; /* Set the height to 570px */
            background-image: url('{{ fields.field_slide_image.content }}');
            background-size: cover;
            background-position: center;
        }
        .hero-text {
            position: absolute;
            bottom: 15%;
            left: 50;
            color: white;
        }
		.slide-link a{
		 background: #18453b;
		 color: #ffffff;
		}
		.hero-description{
			margin-bottom:20px !important;
		}


</style>




 <section class="hero">
 <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12 d-flex">
                    <div class="hero-text">
					 <div class="container">
                        <h1 class="display-4">{{ fields.title.content }}</h1>
                        <h5 class="hero-description">{{ fields.field_slide_description.content }}</h5>
						<div class="slide-link">{{ fields.field_link.content }}</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>