@use "sass:math";
@import "base";

// Stylesheets for the "Dynamic Content Grid".
// This layout is something special, because it doesnt use multiple
// regions. It uses one 'main' region, which becomes display:grid/flex
// and uses the child elements (Blocks in Layout Builder or Paragraphs
// in Layout Paragraphs) as layout cells.
// See https://www.drupal.org/project/drowl_layouts/issues/3307235 for details

.dynamic-grid {
  --dynamic-grid-gutter: var(--space-md, 30px);
  display: grid;
  grid-template-columns: repeat(
    var(--dynamic-grid-behavoir, auto-fit),
    minmax(var(--dynamic-grid-cell-min, 1fr), var(--dynamic-grid-cell-max, 1fr))
  );
  gap: var(--dynamic-grid-gutter, var(--grid-gutter));
  > .paragraph {
    // No need for margin in this context - margin will only damage the grid gutter.
    margin: 0 !important;
  }
  &--gutter {
    &-xxs {
      --dynamic-grid-gutter: var(--space-xxs, 5px);
    }
    &-xs {
      --dynamic-grid-gutter: var(--space-xs, 10px);
    }
    &-sm {
      --dynamic-grid-gutter: var(--space-sm, 20px);
    }
    &-lg {
      --dynamic-grid-gutter: var(--space-lg, 40px);
    }
    &-xl {
      --dynamic-grid-gutter: var(--space-xl, 50px);
    }
    &-xxl {
      --dynamic-grid-gutter: var(--space-xxl, 100px);
    }
  }
  &--align {
    &-top {
      align-items: start;
    }
    &-center {
      align-items: center;
    }
    &-bottom {
      align-items: end;
    }
  }
  &--justify {
    &-left {
      justify-content: start;
    }
    &-center {
      justify-content: center;
    }
    &-right {
      justify-content: end;
    }
    &-justify {
      justify-content: space-between;
    }
    &-spaced {
      justify-content: space-evenly;
    }
  }
}
