/**
 * @file
 * Provides dead-simple parallax utilities.
 *
 * Adjust everything accordingly like everything else, hence just the basic.
 *
 * At most cases, might need to re-touch this file.
 */

.is-gs-parallax-fs-body {
  overflow: hidden;
}

.is-gs-parallax {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.gridstack.is-gs-parallax.is-gs-parallax-fs {
  position: fixed;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}

.toolbar-fixed .is-gs-parallax.is-gs-parallax-fs,
.toolbar-fixed.toolbar-vertical .is-gs-parallax.is-gs-parallax-fs {
  margin-top: 42px;
}

.toolbar-tray-open .is-gs-parallax.is-gs-parallax-fs {
  margin-top: 80px;
}

/* Bg element. */
.is-gs-parallax .box__bg {
  overflow: hidden;
}

/* The .is-gs-parallax-on ensures to only touch browsers with IO supports. */
/*
.is-gs-parallax-on .b-gs {
  top: -120px;
}

.is-gs-parallax .box:nth-child(even) .b-bg {
  top: 0;
}
*/

.is-gs-parallax-fs {
  background-color: #fff;
}

.gridstack.is-gs-parallax-fs,
.gridstack.is-gs-parallax-fs .row {
  margin: auto;
}

.gridstack.is-gs-parallax-fs > .box,
.gridstack.is-gs-parallax-fs .col-12 {
  padding-right: 0;
  padding-left: 0;
}

.is-gs-parallax .box--ete {
  z-index: 9;
}

.is-gs-parallax .b-gs {
  transition: none;
}

.is-gs-parallax .is-gs-visible .b-bg:not(.is-b-loading) {
  transition: background-position 3s ease-in-out;
}

.is-gs-parallax .b-bg {
  background-attachment: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.is-gs-parallax .box:nth-child(even) .b-bg {
  transition-duration: 2s;
}

/* Prevents wasted CPU usage. */
.is-gs-parallax .is-gs-hidden .b-bg {
  transition: none;
  background-position: center 120px;
}

.is-gs-parallax .box:nth-child(even) .is-gs-hidden .b-bg {
  background-position: center -120px;
}

.is-gs-parallax .is-gs-visible .b-bg {
  background-position: center 0;
}

.is-gs-parallax .box:nth-child(even) .is-gs-visible .b-bg {
  background-position: center 0;
}

/**
 * Transform with background fixed is bad for Chrome! We override here.
 * We can do this as the box is already edge-to-edge with fullscreen parallax.
 *
 * @see gridstack.stylizer.css for non-fullscreen version.
 */
.is-gs-parallax-fs.is-gs-ete > .box__bg,
.is-gs-parallax-fs.is-gs-ete > .gridstack__inner > .box__bg,
.is-gs-parallax-fs .box--ete > .box__content .box__bg {
  left: 0;
  width: 100%;
  transform: none;
}

/* Non-bg element. */
/* If using transform, overrides ete: transform: translateX(-50%); */
.is-gs-parallax .is-gs-visible .b-gs--media:not(.is-b-loading) {
  transition: transform 3s;
}

.is-gs-parallax .b-gs--media:not(.is-b-loading) {
  top: -120px;
  left: 0;
  overflow: hidden;
  transform: translateY(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.is-gs-parallax .box:nth-child(even) .b-gs--media:not(.is-b-loading) {
  transition-duration: 5s;
}

.is-gs-parallax .is-gs-hidden .b-gs--media:not(.is-b-loading) {
  transform: translateY(50%) scale(2);
}

.is-gs-parallax .is-gs-transitioned .b-gs--media:not(.is-b-loading) {
  transition-duration: 5s;
  transform: translateY(120px) scale(1);
}
