/**
 * @file
 *
 * Supports native CSS Grid, only if active: filtered, sorted, searched.
 * Do not put is-gs-layout class on HTML to support native dynamically.
 * Dimensions are defined at gridstack/static post release gridstack: 2.5
 */

/**
 * With .is-gs-layout, this disables native CSS Grid for mobile or filtering.
 */
.outlayer.is-gs-enabled.is-gs-layout,
.outlayer.is-gs-enabled.is-gs-layout > .box {
  display: block;
}

/* The native VSS Grid wants relatie. This only applies during filtering. */
.outlayer.is-gs-enabled.is-gs-layout > .box {
  position: absolute;
}

/* Must be relative else cropped by Isotope. */
.outlayer.is-gs-enabled.is-gs-layout > .box .box__content {
  position: relative;
}
