{% extends "@drowl_layouts/layouts/drowl-layout-base.html.twig" %}
{#
/**
 * @file
 * Template for a 2 cell stacked panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the stacked top region (Inherited from drowl-layout-base.html.twig)
 *   - content.left: Content in cell left region
 *   - content.right: Content in cell right region
 *   - content.bottom: Content in the stacked bottom region (Inherited from drowl-layout-base.html.twig)
 */
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set left_rendered = content.left|render %}
{% set right_rendered = content.right|render %}

{% block layout_outer %}
    {# Per layout cell configuration #}
    {% set column_width = layout_settings.column_widths|default('50-50') %}

    {% set content_left_classes = [
        'drowl-layout__region--first',
        column_width == '50-50' ? 'medium-6',
        column_width == '66-33' ? 'medium-7',
        column_width == '33-66' ? 'medium-5',
        column_width == '66-33' ? 'large-8',
        column_width == '33-66' ? 'large-4'
    ]|merge(default_cell_classes) %}

    {% set content_right_classes = [
        'drowl-layout__region--last',
        column_width == '50-50' ? 'medium-6',
        column_width == '66-33' ? 'medium-5',
        column_width == '33-66' ? 'medium-7',
        column_width == '66-33' ? 'large-4',
        column_width == '33-66' ? 'large-8'
    ]|merge(default_cell_classes) %}

    <div {{ attributes.addClass(layout_classes) }}>
        {% block layout_region_top %}
            {{ parent() }}
        {% endblock layout_region_top %}
        {% block layout_regions %}
            {% if drowl_layouts_force_render or (left_rendered is real_content) or (right_rendered  is real_content) %}
                <div {{ row_attributes.addClass(row_classes) }}>
                    {% if drowl_layouts_force_render or (left_rendered is real_content) %}
                        <div {{ region_attributes.left.addClass(content_left_classes) }}>
                            {{ left_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (right_rendered is real_content) %}
                        <div {{ region_attributes.right.addClass(content_right_classes) }}>
                            {{ right_rendered }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock layout_regions %}
        {% block layout_region_bottom %}
            {{ parent() }}
        {% endblock layout_region_bottom %}
    </div>
{% endblock layout_outer %}
