/* Toolbar widget */
.bueditor-tw .bue-toolbar {
  min-height: 2em;
  display: block;
}

.bueditor-tw .bueditor-available-toolbar {
  background: #eee;
  border: 1px dotted #aaa;
  box-shadow: none;
}

.bueditor-tw .bueditor-tw-item {
  cursor: move;
}

/* Helper */
.bueditor-tw .ui-sortable-helper {
  opacity: 0.8;
}

/* Newline */
.bueditor-tw .bue-newline {
  line-height: 1.9em;
  margin: 0 0.1em;
}

.bueditor-tw .bue-newline:before {
  content: "\21b5";
  display: inline-block;
}

.bueditor-available-toolbar .bue-newline:after {
  content: "";
}

/* Template button */
.bueditor-tw .template-button.bue-button {
  background: #f5f5f5;
  border: 1px dotted #999;
  border-radius: 0;
  box-shadow: none;
}

.bueditor-tw .template-button-text {
  font-size: 0.75em;
}

/* Placeholder */
.bueditor-tw .sortable-ghost {
  outline: 1px solid #09f;
}

.bueditor-tw .sortable-ghost.bue-button {
  background: #fff;
  border-color: #fff;
}

/* Demo wrapper */
.form-item.bueditor-demo-wrapper {
  margin-top: 3em;
}

/* Remove first child margin in details wrapper */
.details-wrapper > *:first-child,
.details-wrapper > *:first-child > *:first-child {
  margin-top: 0;
}

/* Button list */
.bueditor-button-list {
  margin-bottom: 2em;
}

.bueditor-button-list th.button-id {
  width: 20%;
}

/* Plugin buttons */
.bueditor-button-group {
  margin-bottom: 2em;
}

.bueditor-button-group caption {
  font-size: 1.1em;
  font-weight: bold;
}
