/**
 * @file
 * W3CSS Paragraphs Content.
 *
 * Filename:     w3css-paragraphs-content-base.css
 * Website:      https://www.flashwebcenter.com
 * Developer:    Alaa Haddad https://www.alaahaddad.com
 */
#main-container {
  background-color: transparent!important;
}

#main-container-inner {
  max-width: 100%!important;
}

#main-container-inner > .w3-row-padding,
#main-container-inner .w3css-content,
#main-container-inner .w3css-content > div {
  margin: 0 auto!important;
  padding: 0!important;
}

#main-container-inner .w3css--err {
  margin-bottom: 0!important;
}

div.w3css-content section.w3-block > article.node > div,
div.w3css-content section.w3-block > article.node > header {
  margin: 0;
}

.page-node-type-w3css-paragraphs-content .node__header,
.page-node-type-w3css-paragraphs-content .node__content {
  margin-bottom: 0!important;
}

.page-node-type-w3css-paragraphs-content .paragraph .field--type-entity-reference > div {
  width: 100%;
}
