/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--wordpress">
 *      <span class="sk"></span>
 *    </div>
 *
 */

.ajaxin.ajaxin--wordpress {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  -webkit-animation: skinnercircle 1s linear infinite;
  animation: skinnercircle 1s linear infinite;
  border-radius: 30px;
  background-color: #333;
}

.ajaxin--wordpress .sk {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

/*
@-webkit-keyframes skinnercircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/

@keyframes skinnercircle {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
