/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--three-bounce">
 *      <span class="sk1"></span>
 *      <span class="sk2"></span>
 *      <span class="sk3"></span>
 *    </div>
 */

.ajaxin.ajaxin--three-bounce {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

.ajaxin--three-bounce .sk {
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-animation: skthreebouncedelay 1.4s infinite ease-in-out;
  animation: skthreebouncedelay 1.4s infinite ease-in-out;
  border-radius: 100%;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajaxin--three-bounce .sk1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ajaxin--three-bounce .sk2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

/*
@-webkit-keyframes skthreebouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
*/

@keyframes skthreebouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
