/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--circle">
 *      <div class="sk1 sk"></div>
 *      <div class="sk2 sk"></div>
 *      <div class="sk3 sk"></div>
 *      <div class="sk4 sk"></div>
 *      <div class="sk5 sk"></div>
 *      <div class="sk6 sk"></div>
 *      <div class="sk7 sk"></div>
 *      <div class="sk8 sk"></div>
 *      <div class="sk9 sk"></div>
 *      <div class="sk10 sk"></div>
 *      <div class="sk11 sk"></div>
 *      <div class="sk12 sk"></div>
 *    </div>
 */
.ajaxin.ajaxin--circle {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.ajaxin.ajaxin--circle .sk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.ajaxin--circle .sk::before {
  display: block;
  width: 15%;
  height: 15%;
  margin: 0 auto;
  content: "";
  -webkit-animation: skcirclebouncedelay 1.2s infinite ease-in-out both;
  animation: skcirclebouncedelay 1.2s infinite ease-in-out both;
  border-radius: 100%;
}

.ajaxin--circle .sk2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.ajaxin--circle .sk3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.ajaxin--circle .sk4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ajaxin--circle .sk5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.ajaxin--circle .sk6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.ajaxin--circle .sk7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ajaxin--circle .sk8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.ajaxin--circle .sk9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.ajaxin--circle .sk10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ajaxin--circle .sk11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.ajaxin--circle .sk12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.ajaxin--circle .sk2::before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.ajaxin--circle .sk3::before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.ajaxin--circle .sk4::before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.ajaxin--circle .sk5::before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.ajaxin--circle .sk6::before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.ajaxin--circle .sk7::before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.ajaxin--circle .sk8::before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.ajaxin--circle .sk9::before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.ajaxin--circle .sk10::before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.ajaxin--circle .sk11::before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.ajaxin--circle .sk12::before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

/*
@-webkit-keyframes skcirclebouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
*/

@keyframes skcirclebouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
