/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxin ajaxin--wandering-cubes">
 *      <div class="sk1"></div>
 *      <div class="sk2"></div>
 *    </div>
 */

.ajaxin.ajaxin--wandering-cubes {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

.ajaxin--wandering-cubes .sk1,
.ajaxin--wandering-cubes .sk2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-animation: skwanderingcubemove 1.8s infinite ease-in-out;
  animation: skwanderingcubemove 1.8s infinite ease-in-out;
}

.ajaxin--wandering-cubes .sk2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/*
@-webkit-keyframes skwanderingcubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
*/

@keyframes skwanderingcubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
