/**
 * @file
 * This file contains all Ultimenu vertical layout.
 */

/**
 * Orientation.
 * -vtr: vertical to right
 * -vtl: vertical to left
 * -htt: horizontal to top
 * -htb: horizontal to bottom
 */
.ultimenu--vertical {
  z-index: 96;
  height: auto;
}

.ultimenu--vertical > li {
  position: relative;
  display: block;
  float: none;
}

.ultimenu--vtr .ultimenu__flyout {
  top: 0;
  left: 100%; /* LTR */
}

.ultimenu--vtl .ultimenu__flyout {
  top: 0;
  right: 100%;  /* LTR */
  left: auto; /* LTR */
}

[dir="rtl"] .ultimenu--vtr .ultimenu__flyout {
  right: 100%;
  left: auto;
}

[dir="rtl"] .ultimenu--vtl .ultimenu__flyout {
  right: auto;
  left: 100%;
}

.ultimenu--vertical .ultimenu__link {
  padding: 0.5em 1em;
}

/**
 * 944px+ with 16px base font.
 */
@media all and (min-width: 59em) {
  .ultimenu--vtl .ultimenu__flyout {
    margin-right: 20px; /* LTR */
  }

  .ultimenu--vtr .ultimenu__flyout {
    margin-left: 20px; /* LTR */
  }

  [dir="rtl"] .ultimenu--vtl .ultimenu__flyout {
    margin-right: auto;
    margin-left: 20px;
  }

  [dir="rtl"] .ultimenu--vtr .ultimenu__flyout {
    margin-right: 20px;
    margin-left: auto;
  }

  .ultimenu--vtl li:hover .ultimenu__flyout {
    margin-right: 10px; /* LTR */
  }

  .ultimenu--vtr li:hover .ultimenu__flyout {
    margin-left: 10px; /* LTR */
  }

  [dir="rtl"] .ultimenu--vtl li:hover .ultimenu__flyout {
    margin-right: auto;
    margin-left: 10px;
  }

  [dir="rtl"] .ultimenu--vtr li:hover .ultimenu__flyout {
    margin-right: 10px;
    margin-left: auto;
  }
}
