/**
 * @file
 * Trying to make sense with Olivero.
 *
 * Only tested with Header region.
 */

.is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-header__inner {
  display: block;
  width: 100%;
}

.is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-header__inner__container {
  display: block;
  padding: 0;
}

.is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-header__initial {
  display: none;
}

.is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-header__fixable {
  width: 100%;
  max-width: 100%;
}

[dir="ltr"] .is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-branding,
[dir="rtl"] .is-ultimenu-canvas--active .is-ultimenu-canvas-off .site-branding {
  min-height: 80px;
  margin: 0;
}

.is-ultimenu-canvas--active:not(.is-always-mobile-nav) .site-header__fixable.is-fixed:not(.is-expanded) .site-header__inner {
  transform: none;
  opacity: 1;
}
