/**
 * @file
 *
 * .is-ultimenu-canvas-off: #header or .region-primary-menu, etc.
 * .is-ultimenu-canvas-on: any sibling of #header.
 *
 * Note the left transitions, works down to old browsers lacking of transform.
 */

/** The #header alike element, out of canvas by default, can exist once. */
.is-ultimenu-canvas .is-ultimenu-canvas-off {
  left: -100%;
  -ms-transition: left 300ms;
  transition: left 300ms;
}

.is-ultimenu-canvas.is-ultimenu-expanded .is-ultimenu-canvas-off {
  left: 0;
}

/** Any element below, pushed out of canvas once the #header is in. */
.is-ultimenu-canvas .is-ultimenu-canvas-on {
  position: relative;
  left: 0;
  -ms-transition: left 300ms;
  transition: left 300ms;
}

.is-ultimenu-canvas.is-ultimenu-expanded .is-ultimenu-canvas-on {
  left: 82%;
}
