{#
<style>
	header {
		position: absolute;

	}

	#header-menu {
		color: #ffffff !important;
        text-shadow: -1px 1px 4px #000000;
		a {
			text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff;
		}
	}
       .navbar-brand a.site-title {
     	text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff !important;
    }

	.hero-banner {
		position: relative;
		width: 100%;
		height: 812px;
		overflow: hidden;
		clear: both;
	}
	.background-image {
		background-repeat: no-repeat;
		background-position: right, top;
		background-size: cover;
		transition: all 0.5s;
		width: 100vw;
		height: 812px;
	}
</style>

<section class="hero-banner  gradient regular" data-module="hero-banner">
	<div class="background-image xl" style="background-image: url(&quot;{{ fields.field_slide_image.content }}&quot;);"></div>
	<div class="background-image md" data-bg="{{ fields.field_slide_image.content }}"></div>
	<div class="background-image sm" data-bg="{{ fields.field_slide_image.content }}"></div>

	<div class="gradient"></div>

	<div class="overlay slide-overlay">
		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<a href="https://msu.edu/emergency/resources" aria-label="{{ fields.title.content }}">
						<h1 class=" medium">{{ fields.title.content }}</h1>
					</a>
					<h2>{{ fields.field_slide_description.content }}</h2>
					<div class="slide-link">{{ fields.field_link.content }}</div>
				</div>

			</div>
		</div>
	</div>
</section>
#}

<style>
{#
	#home-header {
		position:relative;
		background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('{{ fields.field_slide_image.content }}'); 
        background-size: cover;
		background-repeat: no-repeat;
        background-position: center;
		display:block;

	}
	#home-hero{

	}
	#home-header img{
		-ms-transition: all 1s ease;
  		-webkit-transition: all 1s ease;
  		-moz-transition: all 1s ease;
  		-o-transition: all 1s ease;
  		transition: all 1s ease;

	}
	#home-header img:hover {
  /* img zoom in on hover (x, y): */
  	-ms-transform: scale(1.1, 1.1);
  	-webkit-transform: scale(1.1, 1.1);
  	-moz-transform: scale(1.1, 1.1);
  	-o-transform: scale(1.1, 1.1); 
  	transform: scale(1.1, 1.1);
	}

#}

	#home-header {
		position:relative;
		height:800px;
		

	}



#home-header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('{{ fields.field_slide_image.content }}'); 
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
}



.home-hero {

	padding:0;
	margin:0;

  height:50vh;
  overflow:hidden;
  position:absolute
}



.home-hero-image{
  background: url('{{ fields.field_slide_image.content }}') no-repeat center center;
  background-size: cover;
  transition: transform 2s;
  height: 100%;
  width: 100%;  
 
}
.home-hero-image:hover {
  transform: scale(1.15);
}

	#header-menu {
		color: #ffffff !important;
        text-shadow: -1px 1px 4px #000000;
		a {
			text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff;
		}
	}
   .navbar-brand a.site-title {
     	text-shadow: -1px 1px 4px #000000 !important;
		color: #ffffff !important;
		letter-spacing: 1px !important;

    }
	.region-pagetitle {
		display: none !important;
	}


        .hero {

        }
		.hero:hover{
			 background-image: linear-gradient(rgba(47, 23, 15, 0.50), rgba(47, 23, 15, 0.50)), url('{{ fields.field_slide_image.content }}');
		}
        .hero-text {
			position:relative;
            color: white;

        }


		.slide-link a{
		 background: #18453b;
		 color: #ffffff;
		}
		.hero-description{
			margin-bottom:20px !important;
		}



</style>



 <!--
 <section class="hero">
 <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12 d-flex">
                    <div class="hero-text">
					 <div class="container">
					
					 <h1 class="display-4 d-none d-sm-block">{{ fields.title.content }}</h1>
                        <h5 class="hero-description d-none d-sm-block">{{ fields.field_slide_description.content }}</h5>
						<div class="slide-link">{{ fields.field_link.content }}</div>
						
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	-->