<div class="news-news-page">
<div class="row news-page-row">
<div class="col-md-4 col-sm-12"><div class="news-page-image">{{ fields.field_news_image.content }}</div></div>
<div class="col-md-8 col-sm-12">
<div class="news-page-date">{{ fields.field_news_date.content }}</div>
<div class="news-page-title"><h3>{{ fields.title.content }}</h3></div>
<div class="news-page-dept">{{ fields.field_college_department.content }}</div>
</div>
</div>
</div>
