<div class="event-card row">
<div class="col-4" style="background: transparent url({{ fields.field_event_image.content }}); background-repeat: no-repeat; background-size: cover; ">
					
<div class="date-ribbon">
<div class="month">{{ fields.field_event_date_value.content }}</div>
<div class="day">{{ fields.field_event_date_value_1.content }}</div>
<div class="year">{{ fields.field_event_date_value_2.content }}</div>
</div>
</div>
<div class="col-8">
					<div>
							<div class="event-title"> {{ fields.title.content }}</div>
							<h3 class="date"><i class="fa-solid fa-clock"></i>  {{ fields.field_event_date.content }}</h3>
						</div>

            					<div>
							<p class="desc">{{ fields.body.content }}</p>
							<div class="location">
							<i class="fa-solid fa-location-dot"></i>
							{{ fields.field_location.content }}
							</div>


      </div>
      </div>
    </div>