


<div class ="homepage-events h-100">
<div class="date-box">
<div class="month">{{ fields.field_event_date_value_1.content }}</div>
<div class="day">{{ fields.field_event_date_value.content }}</div>
<div class="year">{{ fields.field_event_date_value_2.content }}</div>
</div>
<div class="event-image">{{ fields.field_event_image.content }}</div>
<div class="col-infos">
<div class="events-info-wrapper">
        <h2 class="event-title line">{{ fields.title.content }}</h2>
        <p class="event-date">{{ fields.field_event_date.content }}</p>
        <p class="event-locations">{{ fields.field_location.content }}</p>
</div>
<div class="read-more">{{ fields.view_node.content }}</div>
    </div>
    </div>






