<div class="menu-news">
<div class="row menu-news-row">
<div class="menu-news-image">{{ fields.field_news_image.content }}</div>
<div class="menu-news-title"><h3>{{ fields.title.content }}</h3></div>
<div class="menu-news-description"><p>{{ fields.field_news_short_description.content }}</p></div>
<div class="menu-news-view">{{ fields.view_node.content }}</div>
</div>
</div>
