{#
/**
 * @file
 * Default theme implementation to display a one-cell layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{# Remove any wrappers added by default layouts - cause the layout system still has a very problematic
   array structure. Till this is fixed - we don't want to use it.
#}
{% block layout_outer %}
  {% if content %}
    {{ content.content }}
  {% endif %}
{% endblock layout_outer %}