/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-sliding.
 *
 * Sliding sample for horizontal-to-bottom orientation.
 */

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--htb-sliding .ultimenu__flyout {
    top: 100%;
    visibility: visible;
    margin: 0;
    padding: 0;
    opacity: 1;
    background: #fff;
  }

  .ultimenu--htb-sliding .ultimenu__flyout,
  .ultimenu--htb-sliding .ultimenu__region {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease-out;
  }

  .ultimenu--htb-sliding .ultimenu__region {
    position: relative;
    visibility: hidden;
    padding: 30px 30px 0 30px;
    transition: visibility 0.5s linear 0s, padding 0.25s ease-out, max-height 0.15s ease-out;
  }

  .ultimenu--htb-sliding > li:hover .ultimenu__flyout,
  .ultimenu--htb-sliding > li:hover .ultimenu__region {
    z-index: 99;
    visibility: visible;
    overflow: visible;
    max-height: 620px;
  }

  .ultimenu--htb-sliding > li:hover .ultimenu__region {
    padding-bottom: 30px;
  }

  #header .ultimenu--htb-sliding .ultimenu__flyout {
    min-width: 100%;
  }
}
