/**
 * @file
 * Skin based on safe CSS file name: ultimenu--dark-white.
 */

.ultimenu--dark-white {
  background-color: #222;
}

.ultimenu--dark-white .ultimenu__flyout {
  border-top: 1px solid #333;
  background-color: #111;
}

.ultimenu--dark-white .ultimenu__link {
  z-index: 103; /* Above the flyout z-index: 102. */
  color: #eaeaea;
  border-top: 1px solid transparent;
}

/* @todo is-active https://www.drupal.org/node/2281785 */
.ultimenu--dark-white .is-active-trail > a,
.ultimenu--dark-white > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
.ultimenu--dark-white .is-ultimenu-active {
  color: #fff;
  border-top: 1px solid #777;
  background-color: #111;
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--hover.ultimenu--dark-white li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--dark-white li .ultimenu__flyout:focus-within,
  .ultimenu--hover.ultimenu--dark-white li a:focus + .ultimenu__flyout {
    margin-top: -1px;
  }
}
