/**
 * @file
 * Skin based on safe CSS file name: ultimenu--msu.
 */

.ultimenu--msu {
  background-color: #18453b;
  color: #999;
  margin-left: auto;
  margin-right: auto;
}

.ultimenu--msu .ultimenu__flyout {
  background-color: #18453b;
}

.ultimenu--msu .ultimenu__region {
  background-color: #205e51;
}

.ultimenu--msu .ultimenu__link {
  border-top: 1px solid transparent;
  color: #eaeaea;
  z-index: 103; /* Above the flyout z-index: 102 */
}
/* @todo is-active https://www.drupal.org/node/2281785 */
.ultimenu--msu > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
.ultimenu--msu .is-ultimenu-active,
.ultimenu--msu .is-active-trail > a {
  background-color: #18453b;
  border-top: 1px solid #205e51;
  color: #fff;
}

.ultimenu--msu .ultimenu__flyout {
  border-top: 1px solid #18453b;
}

/**
 * 944px below with 16px base font.
 */
@media all and (max-width: 58.999em) {
  .ultimenu--msu .ultimenu__link {
    border-top: 1px solid #205e51;
  }
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--hover.ultimenu--msu li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--msu li a:focus + .ultimenu__flyout,
  .ultimenu--hover.ultimenu--msu li .ultimenu__flyout:focus-within {
    margin-top: -1px;
  }
}
.is-ultimenu-expanded .is-ultimenu-canvas-backdrop,
.is-ultimenu-canvas--hiding .is-ultimenu-canvas-backdrop {
  z-index: 100;
}
