<section id ="site-alert">
<div class="alert" style=" background-color: {{ fields.field_background_color.content }};font-size: 18px;color:{{ fields.field_text_color.content }}">
<div class="container">
<div class="row">
<div class="col">{{ fields.field_icon.content }}</div>
<div class="col-11">{{ fields.field_message.content }}</div>
</div>
</div>
</div>
</section>


