<div class="grid">
<figure class="effect-chico">
{% if fields.field_event_background_image.content %}
    <img src=" {{ fields.field_event_background_image.content }} " alt="events-image"/>
{% endif %}
    <figcaption>
        <div class="event-row">
        <div class="col-date">
        <div class="date-wrapper">
<div class="month">{{ fields.field_event_date_1.content }}</div>
<div class="day">{{ fields.field_event_date_2.content }}</div>
<div class="year">{{ fields.field_event_date_3.content }}</div>
</div>

</div>

<div class="col-info">
<div class="event-info-wrapper">
        <div class="event-title">{{ fields.title.content }}</span></div>
        <p class="event-date">{{ fields.field_event_date.content }}</p>
        <p class="event-location">{{ fields.field_event_location.content }}</p>
    </div>

    </div>

    </div>

    </figcaption>
</figure>
</div>






