<style>
    .homepage-feature-bg-img{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("{{ fields.field_feature_image.content }}");
    }
    .homepage-feature-bg-img:hover{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("{{ fields.field_feature_image.content }}");
    }

</style>


<div class="col-lg-12 home-hero">
<div class="hero-homepage">
<div class="hero-image">
</div>
<div class="hero-container">
<div class ="container">
<div class="row">
<div class="hero-title"><h1 class="line medium">{{ fields.title.content }}</h1></div>
<div class="hero-description"><h2>{{ fields.field_short_description.content }} </h2></div>
<div class="hero-link">{{ fields.field_homepage_feature_link.content }}</div>
</div>
</div>
</div>
</div>
</div>
