<style>
	header {
		position: absolute;

	}

	#header-menu {
		color: #ffffff !important;
        text-shadow: -1px 1px 4px #000000;
		a {
			text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff;
		}
	}
   .navbar-brand a.site-title {
     	text-shadow: -1px 1px 4px #000000 !important;
			color: #ffffff !important;
    }
	.region-pagetitle {
		display: none !important;
	}


        .hero {
            position: relative;
            width: 100%;
            height: 570px; /* Set the height to 570px */
            background-image: url('{{ fields.field_banner_image.content }}');
            background-size: cover;
            background-position: center;
        }
    

</style>




 <section class="hero" style="background-color:{{ fields.field_page_background_color.content }};">
 <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12 d-flex align-items-end">
                    <div class="hero-text">
                        <h1>{{ fields.field_related_page.content }}</h1>
                        <p>{{ fields.field_banner_sub_text.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    