$color-grey: #ccc;
$color-black: #000;
$color-white: #fff;
$color-accent: #63B3A2;
$color-background: #18453B;
$color-darkbg:#173830;
$color-text: #fff;
$color-caption: #444;
$color-limegreen: #00C24E;
$color-orange:#ff4500;

// Colors with opacity.
$color-borders: rgba($color-accent, 0.2);
.region-mainmenu{

.tbm {
  background-color: $color-background;
  .coe-web{
    background-color: $color-orange;
  }

  .span4, .span3{
    border-right:  1px solid $color-borders;
    padding-right: 10px;
  }
}

// Top level menu items.
.tbm-item.level-1 {
  border-right: 1px solid $color-borders;
  border-bottom: 3px solid $color-background;
}

.tbm-item.level-1:hover{
    border-bottom: 3px solid $color-limegreen; 
}

// Top level links.
.tbm-link.level-1 {
  color: $color-text;
  padding: 1rem 1.25rem;
  text-decoration: none;
  

  &:hover,
  &:focus {
    background-color: darken($color-background, 5%);
  }
}

.coe-web {
  border-bottom: 3px solid $color-orange !important;
}

// The button that toggles the visibility of the submenu on mobile.
.tbm-submenu-toggle {
  background-color: $color-background;
  color: $color-text;

  &:hover,
  &:focus {
    background-color: darken($color-background, 5%);
  }
}


.coe-web :hover{
    background-color: $color-limegreen !important;
  }
  
// The caption that can appear below any <li>.
.tbm-caption {
  color: $color-caption;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

// The <div> around any submenu dropdown. This is a direct descendent child of
// the <li>.
.tbm-submenu {
  background-color: $color-darkbg;
  border-radius: 0;
  border-top-width: 0;
  border: 1px solid $color-borders;
  box-shadow: 0 5px 10px $color-borders;
  padding: 1rem;

  .tbm-submenu {
    // Anything other than the 1st dropdown menu needs the top border.
    border-top-width: 1px;
  }
}

// Any <li> that has sub-links, other than at the top level.
.tbm-item--has-flyout {
  .tbm-submenu-toggle {
    &:hover,
    &:focus {
      background-color: transparent;

      &:before {
        border-left-color: $color-accent;
      }
    }
  }
}

// Any <ul> other than the top level.
.tbm-subnav {
  > .tbm-item {
    &:first-child {
      > .tbm-link-container {
        > .tbm-link {
          border-top: 0;
          
        }
      }
    }

    > .tbm-link-container {
      > .tbm-link {
        color: $color-text;
        display: block;
        padding: 0.5rem 0;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $color-accent;
          text-decoration: underline;
          text-decoration-color: $color-accent;
        }
      }
    }
  }
}

// The mobile show/hide button.
.tbm-button {
  appearance: none;
  background-color: $color-background;
  border: 1px solid $color-borders;
  color:#fff !important;
  margin-top: 10px;
}

// A .tbm-group is any <li> that has been designated as a "group" item, where
// the content within is not contained within a dropdown/submenu, but is instead
// always visible.

// The group container.
.tbm-group-container {
  border-top: 1px solid $color-borders;
}

// The group title.
.tbm-group-title {
  font-weight: bold;
  text-transform: uppercase;
}

// Mobile styles.
.tbm.tbm--mobile {
  background-color: transparent;

  // Borders for menu items.
  .tbm-item {
    border-top: 1px solid $color-borders;
  }

  // Colos for open top level menu items.
  .tbm-item.level-1 {
    &.open > .tbm-toggle {
      background-color: $color-black;
      color: $color-white;
    }
  }

  // The wrapper around the entire menu.
  .tbm-collapse {
    background: $color-white;
    padding-top: 1rem;
  }

  // The top level ul.
  .tbm-nav {
    background: $color-background;
  }

  // The <div> around any submenu dropdown. This is a direct descendent child of
  // the <li>.
  .tbm-submenu {
    box-shadow: none;
    border-top: 1px solid $color-borders;

    .tbm-link {
      padding: 1rem 1.25rem;
    }

    // The button that toggles the visibility of the submenu on mobile.
    .tbm-submenu-toggle {
      background-color: $color-white;
      color: currentColor;
    }
  }

  .tbm-submenu-toggle {
    border-left: 1px solid $color-borders;
    border-right: 0;
  }

  // Any <ul> other than the top level.
  .tbm-subnav {
    .tbm-item:first-child {
      border-top: 0;
    }

    .tbm-subnav {
      margin-left: 1rem;
    }
  }

  .tbm-block {
    margin-bottom: 0;
    padding: 0 1.25rem;
  }
}
.block-inner{
  color:#fff !important;
  img{
    color:#fff;
    padding: 5px;
    border:solid;
    border-width: 1px;
    border-color: $color-accent;
    margin-bottom: 10px;
    background-color: #fff;
    
  }
  .news-link{
    margin-top: 30px;
    margin-bottom: 30px;
    a{
      color:#fff;
      padding: 10px;
      border:solid;
      border-width: 1px;
      text-decoration: none;

    }
  }
}
}
.menu-news{
  background-color: #fff;
  padding: 10px;
  a{
    color: #000;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  .menu-news-view{
    a{
      display: block;
      padding: 10px;
      background-color: #00C24E;
      font-weight: 700;
    }
  }
  .menu-news-description{
    color:#000;
  }
}


.tbm-column{
  border-right: 1px solid $color-borders;
}