<style>
.msu-htab ul{
    border:none;
}
.msu-htab li.htab{
    position:relative;
    display:block;
    clear:both;
    vertical-align:top;
    border-top-right-radius: 15% 15%;
    border-top-left-radius: 15% 15%;
   
 
}
.msu-htab li.active, .tab-content{
 background-color: #f6f6f6;

}
  .msu-htab .htab a:link{
    font-weight: 700;
    text-decoration: none;
    color:#000000;
    width:100%;
    display:block;
    }
</style>



<div class="row msu-htab g-0">
<div class="nav-tab-container">
<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
        <li role="presentation" class="htab p-3 {{ tab.active ? "active" : "" }}" ><a href="#{{ tab.id }}" aria-controls="home" role="tab" data-toggle="tab">{{ tab.title }}</a></li>
    {% endfor %}
</ul>
</div>
<div class="tab-content p-3">
    {% for tab in tabs %}
        <div role="tabpanel" class="tab-pane {{ tab.active ? "active" : "" }}" id="{{ tab.id }}">{{ tab.text }}</div>
    {% endfor %}
</div>
</div>