/**
 * @file
 */

.gridstack.grid-stack-9 > .box {
  min-width: 11.11111%;
}

.gridstack.grid-stack-9 > .box[gs-w="1"] {
  width: 11.11111%;
}

.gridstack.grid-stack-9 > .box[gs-x="1"] {
  left: 11.11111%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="1"] {
  min-width: 11.11111%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="1"] {
  max-width: 11.11111%;
}

.gridstack.grid-stack-9 > .box[gs-w="2"] {
  width: 22.22222%;
}

.gridstack.grid-stack-9 > .box[gs-x="2"] {
  left: 22.22222%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="2"] {
  min-width: 22.22222%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="2"] {
  max-width: 22.22222%;
}

.gridstack.grid-stack-9 > .box[gs-w="3"] {
  width: 33.33333%;
}

.gridstack.grid-stack-9 > .box[gs-x="3"] {
  left: 33.33333%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="3"] {
  min-width: 33.33333%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="3"] {
  max-width: 33.33333%;
}

.gridstack.grid-stack-9 > .box[gs-w="4"] {
  width: 44.44444%;
}

.gridstack.grid-stack-9 > .box[gs-x="4"] {
  left: 44.44444%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="4"] {
  min-width: 44.44444%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="4"] {
  max-width: 44.44444%;
}

.gridstack.grid-stack-9 > .box[gs-w="5"] {
  width: 55.55556%;
}

.gridstack.grid-stack-9 > .box[gs-x="5"] {
  left: 55.55556%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="5"] {
  min-width: 55.55556%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="5"] {
  max-width: 55.55556%;
}

.gridstack.grid-stack-9 > .box[gs-w="6"] {
  width: 66.66667%;
}

.gridstack.grid-stack-9 > .box[gs-x="6"] {
  left: 66.66667%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="6"] {
  min-width: 66.66667%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="6"] {
  max-width: 66.66667%;
}

.gridstack.grid-stack-9 > .box[gs-w="7"] {
  width: 77.77778%;
}

.gridstack.grid-stack-9 > .box[gs-x="7"] {
  left: 77.77778%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="7"] {
  min-width: 77.77778%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="7"] {
  max-width: 77.77778%;
}

.gridstack.grid-stack-9 > .box[gs-w="8"] {
  width: 88.8888%;
}

.gridstack.grid-stack-9 > .box[gs-x="8"] {
  left: 88.8888%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="8"] {
  min-width: 88.8888%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="8"] {
  max-width: 88.8888%;
}

.gridstack.grid-stack-9 > .box[gs-w="9"] {
  width: 100%;
}

.gridstack.grid-stack-9 > .box[gs-x="9"] {
  left: 100%;
}

.gridstack.grid-stack-9 > .box[gs-min-w="9"] {
  min-width: 100%;
}

.gridstack.grid-stack-9 > .box[gs-max-w="9"] {
  max-width: 100%;
}
