/**
 * @file
 */

.gridstack.grid-stack-3 > .box {
  min-width: 33.33333%;
}

.gridstack.grid-stack-3 > .box[gs-w="1"] {
  width: 33.33333%;
}

.gridstack.grid-stack-3 > .box[gs-x="1"] {
  left: 33.33333%;
}

.gridstack.grid-stack-3 > .box[gs-min-w="1"] {
  min-width: 33.33333%;
}

.gridstack.grid-stack-3 > .box[gs-max-w="1"] {
  max-width: 33.33333%;
}

.gridstack.grid-stack-3 > .box[gs-w="2"] {
  width: 66.66667%;
}

.gridstack.grid-stack-3 > .box[gs-x="2"] {
  left: 66.66667%;
}

.gridstack.grid-stack-3 > .box[gs-min-w="2"] {
  min-width: 66.66667%;
}

.gridstack.grid-stack-3 > .box[gs-max-w="2"] {
  max-width: 66.66667%;
}

.gridstack.grid-stack-3 > .box[gs-w="3"] {
  width: 100%;
}

.gridstack.grid-stack-3 > .box[gs-x="3"] {
  left: 100%;
}

.gridstack.grid-stack-3 > .box[gs-min-w="3"] {
  min-width: 100%;
}

.gridstack.grid-stack-3 > .box[gs-max-w="3"] {
  max-width: 100%;
}
