@use "sass:math";
@import "../base";

// Add Foundation grid classes for the layout_paragraphs preview / form mode
// First add some vars we need to compile this without the full "foundation context"
$global-text-direction: ltr !default;
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);
// We need to set $global-font-size to the global font size of the GIN theme -
// otherwise we got REM rounding errors
$global-font-size: 100%;

@import "./node_modules/foundation-sites/scss/foundation";

.drowl-layout {
  // Add min-height to regions - otherwise they arent hoverable because of 0px height
  // im some cases
  &__region {
    min-height: 40px !important;
  }
  // Grids
  @if not $flex {
    @include foundation-grid;
  } @else {
    @if $xy-grid {
      @include foundation-xy-grid-classes;
    } @else {
      @include foundation-flex-grid;
    }
  }
  // Helpers
  @include foundation-float-classes;
  @if $flex {
    @include foundation-flex-classes;
  }

  // Fix collision with the Drupal core alignement classes which are also Foundation
  // flexbox modifier classes
  .grid-x,
  .grid-y {
    &.align-left,
    &.align-right {
      float: none !important;
    }
  }
}
