{% extends "@drowl_layouts/layouts/drowl-layout-base.html.twig" %}
{#
/**
 * @file
 * Template for a 6 cell panel layout.
 *
 * This template provides a 6 cell panel display layout, with
 * each cell equal in width.
 *
 * Variables:
 * - id: An optional CSS id to use for the layout.
 * - css_classes: Optional CSS classes to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.cell_1: Content in cell 1 region
 *   - content.cell_2: Content in cell 2 region
 *   - content.cell_3: Content in cell 3 region
 *   - content.cell_4: Content in cell 4 region
 *   - content.cell_5: Content in cell 5 region
 *   - content.cell_6: Content in cell 6 region
 */
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set cell_1_rendered = content.cell_1|render %}
{% set cell_2_rendered = content.cell_2|render %}
{% set cell_3_rendered = content.cell_3|render %}
{% set cell_4_rendered = content.cell_4|render %}
{% set cell_5_rendered = content.cell_5|render %}
{% set cell_6_rendered = content.cell_6|render %}

{% block layout_outer %}
    {# Per layout cell configuration #}
    {% set content_cell_1_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-1',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    {% set content_cell_2_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-2',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    {% set content_cell_3_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-3',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    {% set content_cell_4_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-4',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    {% set content_cell_5_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-5',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    {% set content_cell_6_classes = [
        'drowl-layout__region',
        'drowl-layout__region--cell-6',
        'cell',
        'small-6',
        'medium-4',
        'large-2'
    ] %}

    <div {{ attributes.addClass(layout_classes) }}>
        {% block layout_region_top %}{% endblock layout_region_top %}
        {% block layout_regions %}
            {% if drowl_layouts_force_render or
                  (cell_1_rendered is real_content) or
                  (cell_2_rendered is real_content) or
                  (cell_3_rendered is real_content) or
                  (cell_4_rendered is real_content) or
                  (cell_5_rendered is real_content) or
                  (cell_6_rendered is real_content)
            %}
                <div {{ row_attributes.addClass(row_classes) }}>
                    {% if drowl_layouts_force_render or (cell_1_rendered is real_content) %}
                        <div {{ region_attributes.cell_1.addClass(content_cell_1_classes) }}>
                            {{ cell_1_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (cell_2_rendered is real_content) %}
                        <div {{ region_attributes.cell_2.addClass(content_cell_2_classes) }}>
                            {{ cell_2_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (cell_3_rendered is real_content) %}
                        <div {{ region_attributes.cell_3.addClass(content_cell_3_classes) }}>
                            {{ cell_3_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (cell_4_rendered is real_content) %}
                        <div {{ region_attributes.cell_4.addClass(content_cell_4_classes) }}>
                            {{ cell_4_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (cell_5_rendered is real_content) %}
                        <div {{ region_attributes.cell_5.addClass(content_cell_5_classes) }}>
                            {{ cell_5_rendered }}
                        </div>
                    {% endif %}
                    {% if drowl_layouts_force_render or (cell_6_rendered is real_content) %}
                        <div {{ region_attributes.cell_6.addClass(content_cell_6_classes) }}>
                            {{ cell_6_rendered }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock layout_regions %}
        {% block layout_region_bottom %}{% endblock layout_region_bottom %}
    </div>
{% endblock layout_outer%}
