.ckeditor5-toolbar-button-svgIcon {
  background-image: url(../icons/toolbar.svg);
}

/* The Balloon Popup (icon name/size, cancel & submit button). */
.ck.ck-svgicon-form {
  padding: var(--ck-spacing-large);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0;
  grid-row-gap: var(--ck-spacing-standard);
}

.ck.ck-svgicon-form .ck.ck-labeled-field-view:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 3;
}

.ck.ck-svgicon-form .ck.ck-labeled-field-view:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 3;
}

.ck.ck-svgicon-form .ck-button:nth-of-type(1) {
  grid-area: 3 / 1 / 4 / 2;
}

.ck.ck-svgicon-form .ck-button:nth-of-type(2) {
  grid-area: 3 / 2 / 4 / 3;
}
