@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Molle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

//Font Variables

// Font Variables
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$handwriting: 'Molle', cursive;

// Styles
body {
  font-family: $open-sans !important;
  font-size: 1rem !important;
    font-weight: 300 !important;
    text-align: left !important;
}
p{
    font-family: $montserrat !important;
    font-size: 1rem !important;
      line-height: 1.625 !important;
      font-weight: 500 !important;
      text-align: left !important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat !important;
  font-weight: 700 !important;
  line-height: 1.25 !important;
}

.button {
  font-family: $open-sans;
  font-weight: bold;
}
#top-menu{
    font-family: $montserrat !important;
    font-size: 0.95rem !important;
      line-height: 1.625 !important;
      font-weight: 400 !important;
      color: #212529 !important;
      text-align: left !important;
}
#main-content .region-breadcrumb{
    li {
        font-size: 0.875rem;
        line-height: 28px;
        display: inline-block;
        margin-bottom: 0;
        text-decoration: none;
        color: #000000;
        padding-top: 10px;
        padding-bottom: 10px;
        .breadcrumb-item{
            padding-top: 30px;
        }
    }

    a{
        display: flex !important;
        margin-top: 0;
        margin-top: -10px !important;
    }

    }
.view-user-welcome-message{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color:crimson;
}