@import "fontawesome/scss/fontawesome.scss";
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/brands.scss";
@import 'variables_msu';
@import 'fonts';

// for Duotones need both files
//@import "fontawesome/scss/duotone.scss";
//@import "fontawesome/scss/_duotone-icons.scss";

// Sub theme styling.
.clear {
    clear: both;
  }

  #page-page-title{
    height: 100%;
    margin-top: 5%;
    position: relative;
    color:$white;
    bottom:0 !important;
  }
  .page-title {
    font-weight: bold !important;
    text-align: left !important;
    padding-bottom: 30px;
  }
  #msu-header {
    padding-top: 15px;
    position: relative;
    background-color: $spartangreen !important;
    z-index: 10;
  }
  #header-container{
    background-size: cover;
    background-position: center;
   
    }

  #sub-header {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    position: relative;
    z-index: 10;
    a {
      color: $white;
    }
  }
  .navbar-brand .site-title {
    text-transform: none !important;
    letter-spacing: normal !important;
    font-size: 1.75rem !important;
    font-weight: 600 !important;
  }
  .sub-page-header{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    position: relative;
    z-index: 10;
    a {
      color: $black !important;
    }
  }
  .audience-menu {
    .nav-link,
    .media-library-view--widget .view-header a {
      display: inline-block !important;
    }
    ul.navbar-nav {
      padding-left: 5px;
      margin-bottom: 0;
      margin-top: 5px;
      display: inline !important;
      float: right;
      a {
        color: $white;
        text-decoration: none !important;
        font-weight: 700;
        font-size: 1rem;
      }
      li.nav-item {
        list-style: none;
        display: inline-block;
      }
      li.nav-item:after {
        content: "|";
        padding: 0 0.4rem;
        color: $white !important;
      }
  
      li.nav-item:last-child:after {
        content: "";
      }
    }
  }
  #top-menu {
    background-color: $spartangreen;
    position: relative;
    z-index: 20;
  
    a {
      text-decoration: none !important;
    }
  
    //Tb Megamenu
  
    .tbm {
      background-color: $color-background !important;
    }
  
    // Top level menu items.
    .tbm-item.level-1 {
      border-right: 1px solid $color-borders;
      height: 50px;
    }
  
    // Top level links.
    .tbm-link.level-1 {
      color: $color-text;
      text-decoration: none !important;
      padding: 0.5rem 1.25rem;
  
      &:hover,
      &:focus {
        background-color: darken($color-background, 5%);
        border-bottom: 5px solid $kellygreen;
      }
    }
  
    // The button that toggles the visibility of the submenu on mobile.
    .tbm-submenu-toggle {
      background-color: $color-background;
      color: $color-text;
  
      &:hover,
      &:focus {
        background-color: darken($color-background, 5%);
      }
    }
  
    // The caption that can appear below any <li>.
    .tbm-caption {
      color: $color-caption;
      font-size: 0.75rem;
      margin-top: 0.25rem;
    }
  
    // The <div> around any submenu dropdown. This is a direct descendent child of
    // the <li>.
    .tbm-submenu {
      background-color: $color-background;
      border-radius: 0;
      border-top-width: 0;
      border: 1px solid $color-borders;
      box-shadow: 0 5px 10px $color-borders;
      padding: 1rem;
  
      .tbm-submenu {
        // Anything other than the 1st dropdown menu needs the top border.
        border-top-width: 1px;
      }
    }
    .sub-nav-container {
      margin-left: auto;
      margin-right: auto;
    }
  
    // Any <li> that has sub-links, other than at the top level.
    .tbm-item--has-flyout {
      .tbm-submenu-toggle {
        &:hover,
        &:focus {
          background-color: transparent;
  
          &:before {
            border-left-color: $color-accent;
          }
        }
      }
    }
  
    // Any <ul> other than the top level.
    .tbm-subnav {
      > .tbm-item {
        &:first-child {
          > .tbm-link-container {
            > .tbm-link {
              border-top: 0;
            }
          }
        }
  
        > .tbm-link-container {
          > .tbm-link {
            color: $color-text;
            display: block;
            padding: 0.5rem 0;
            font-weight: bold;
            padding-bottom: 10px;
  
            &:hover,
            &:focus {
              color: $color-text !important;
              text-decoration: underline !important;
              text-decoration-color: $kellygreen !important;
              text-decoration-style: solid !important;
              text-decoration-thickness: 5px !important;
              text-underline-offset: 0.5em;
            }
          }
        }
      }
    }
  
    // The mobile show/hide button.
    .tbm-button {
      appearance: none;
      background-color: $color-background;
      border: 1px solid $color-borders;
    }
  
    // A .tbm-group is any <li> that has been designated as a "group" item, where
    // the content within is not contained within a dropdown/submenu, but is instead
    // always visible.
  
    // The group container.
    .tbm-group-container {
      border-top: 1px solid $color-borders;
    }
  
    // The group title.
    .tbm-group-title {
      font-weight: bold;
      text-transform: uppercase;
    }
  
    // Mobile styles.
    .tbm.tbm--mobile {
      background-color: transparent;
  
      // Borders for menu items.
      .tbm-item {
        border-top: 1px solid $color-borders;
      }
  
      // Colos for open top level menu items.
      .tbm-item.level-1 {
        &.open > .tbm-toggle {
          background-color: $color-black;
          color: $color-white;
        }
      }
  
      // The wrapper around the entire menu.
      .tbm-collapse {
        background: $color-white;
        padding-top: 1rem;
      }
  
      // The top level ul.
      .tbm-nav {
        background: $color-background;
      }
  
      // The <div> around any submenu dropdown. This is a direct descendent child of
      // the <li>.
      .tbm-submenu {
        box-shadow: none;
        border-top: 1px solid $color-borders;
  
        .tbm-link {
          padding: 1rem 1.25rem;
        }
  
        // The button that toggles the visibility of the submenu on mobile.
        .tbm-submenu-toggle {
          background-color: $color-white;
          color: currentColor;
        }
      }
  
      .tbm-submenu-toggle {
        border-left: 1px solid $color-borders;
        border-right: 0;
      }
  
      // Any <ul> other than the top level.
      .tbm-subnav {
        .tbm-item:first-child {
          border-top: 0;
        }
  
        .tbm-subnav {
          margin-left: 1rem;
        }
      }
  
      .tbm-block {
        margin-bottom: 0;
        padding: 0 1.25rem;
      }
    }
    .tbm-column {
      padding: 1rem;
      border-left: 1px solid $color-borders;
    }
    .tbm-item--has-dropdown .tbm-item-child .container {
      background: $color-background !important;
      z-index: 10 !important;
      position: relative !important;
    }
  }
  #top-menu .tbm-button {
    background-color: $color-background !important;
  }
  span.tbm-button-container span {
    background: $white !important;
  }
  .tbm-collapse {
    background-color: $color-background !important;
  }


  h1.line a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.75px;
    font-size: 3.75rem;
  }
  h1.line:after {
    content: " ";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 25px;
  }
  .hero-description h2 {
    max-width: 480px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 40px;
  }
  .hero-link a {
    color: #fff !important;
    border: 2px solid $white !important;
    text-decoration: none !important;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #9b9c9e;
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.51px;
    color: #151a22;
    padding: 10px 35px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s,
      border-color 0.5s;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  //News Section
  #news {
    padding-top: 20px;
    padding-bottom: 20px;
    .views-field-field-news-image{
      margin-bottom: 20px;
    }
    .news-title, .views-field-title
    .news-title a, .views-field-title a {
      font-size: 1.375rem;
      text-decoration: none !important;
      color: $black;
      line-height: 1.33;
      letter-spacing: -0.04px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: bold;
    }
    .news-description, .views-field-field-news-description {
      font-size: 1.2rem;
      line-height: 1.625;
      font-weight: 400;
      color: $black;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .news-link a, .views-field-field-news-link a {
      background-color: $spartangreen;
      border-color: $spartangreen;
      color: #fff;
      font-weight: 700;
      display: inline-block;
      border: 1px solid #9b9c9e;
      font-size: 1.2rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2rem;
      letter-spacing: 0.51px;
      padding: 10px 35px;
      transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, padding 0.5s,
        border-color 0.5s;
      max-width: 277px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .views-field-field-news-link  a:hover{
      color: #00c24e;
    }
  }
  
  //Welcome homepage block
  #homepage-welcome-message {
    padding-top: 40px;
    padding-bottom: 20px;
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.25;
      display: block;
      font-size: 2.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.625;
      font-weight: 400;
      margin-bottom: 1.875rem;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  }
  #events {
    padding: 0;
    margin-top: 30px;
    .grid {
      margin: 0 auto;
      padding: 0em 0em;
      width: 100%;
      list-style: none;
    }
  
    /* Common style */
    .grid figure {
      position: relative;
  
      overflow: hidden;
      margin: 0px 0%;
      min-width: 320px;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      background: $spartangreen;
      cursor: pointer;
      height: 405px;
    }
  
    .grid figure img {
      position: relative;
      display: block;
      min-height: 100%;
      opacity: 0.8;

    }
  
    .grid figure figcaption {
      padding: 2em;
      color: #fff;
  
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  
    .grid figure figcaption::before,
    .grid figure figcaption::after {
      pointer-events: none;
    }
  
    .grid figure figcaption,
    .grid figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    .grid figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
    }
  
    .grid figure h2 {
      font-weight: 300;
    }
  
    .grid figure h2 span {
      font-weight: 800;
    }
  
    .grid figure h2,
    .grid figure p {
    }
  
    p.event-date {
      padding-top: 10px;
      font-weight: 700;
      font-size: 0.7vw;
    }
    p.event-location {
      font-weight: 700;
      font-size: 0.7vw;
    }
  
    /* Individual effects */
  
    /*---------------*/
    /***** Chico *****/
    /*---------------*/
  
    figure.effect-chico img {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(1.12);
      transform: scale(1.12);
    }
  
    figure.effect-chico:hover img {
      opacity: 0.5;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    figure.effect-chico figcaption {
      padding: 3em;
    }
  
    figure.effect-chico figcaption::before {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      border: 1px solid #fff;
      content: "";
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    figure.effect-chico figcaption::before,
    figure.effect-chico p {
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
    }
  
    figure.effect-chico h2,
    figure.effect-chico h2 a {
      text-decoration: none !important;
      color: $white !important;
      font-weight: 800 !important;
      display: block !important;
    }
  
    figure.effect-chico p {
      margin: 0 auto;
  
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  
    figure.effect-chico:hover figcaption::before,
    figure.effect-chico:hover p {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    .col-12,
    .col-sm-12,
    .col-md-4,
    .col-lg-4,
    .col-xl-4 {
      margin: 0 !important;
      padding: 0 !important;
    }
    .date-wrapper {
      width: 150px;
      height: 170px;
      box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
      border: 2px solid #fff;
      padding: 15px;
      margin-bottom: 25px;
      text-align: center;
      display: block;
      .month {
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 0.38px;
        text-transform: uppercase;
      }
      .day {
        font-size: 5rem;
        line-height: 1;
        text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
        text-align: center;
        font-weight: 700;
        color: #fff;
        margin-bottom: 0;
      }
      .year {
        font-size: 0.9375rem;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
    .event-info-wrapper {
      display: block;
      width: 100%;
      margin: 20px;
    }
  }
  
  .event-row {
    word-wrap: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .col-date {
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .col-info {
    width: 80%;
  }
  .event-info-wrapper {
    .event-title,
    .event-title a {
      font-size: 1vw;
      font-weight: 800;
      letter-spacing: 0.38px;
      text-decoration: none;
      color: $white;
      text-transform: capitalize;
      line-height: 1;
      text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    }
  }
  #main-content{
    padding-bottom: 30px;
    .region-breadcrumb{
      font-weight: 700;
    a{
      font-size: .875rem;
    line-height: 28px;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    color:#000000;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    }
  }
  .region-sidebar-first, .region-sidebar-second, .region-footer, .region-content{
    padding: 0;
  }
  #site-bottom {
    background-color: $lightgray;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #dept-footer {
    background-color: $msufooter;
    color:$white;
    padding-top: 60px;
    padding-bottom: 40px;
    a{
      color:$white;
    }
    h5, h2{
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.33;
      letter-spacing: 1.13px;
      color: #fff;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    li{
      padding: 0;
      margin: 0;
      line-height: normal;
    }
    li.nav-item{
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 500 !important;
    :hover{
      text-underline-offset: 3px;
      text-decoration: underline #00c24e 2px;
    }
    }
    nav{
      margin-bottom: 2rem;
      ul{
        margin: 0 !important;
        padding: 0 !important;
      }
      li{
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
  .region-footer{
    padding-bottom: 40px;
  }
  #msu-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
    .col-lg-4 img {
      margin-bottom: 0;
      width: 100%;
  }
  ul {
    display: block;
    padding-left: 0;
    line-height: 1;
    padding-bottom: 3px;
    margin-bottom: 0;
  }
  ul:first-child {
    margin-bottom: 5px;
    padding-bottom: 2px;
  }
  ul li {
    list-style: none;
    display: inline;
    line-height: 1;
    position: relative;
  }
  ul:first-child li {
    list-style: none;
    padding-bottom: 2px;
    border-bottom: 1px dotted #979797;
  }
  ul li a {
    font-size: .8125rem;
    font-weight: 500;
    color: #000;
    display: inline-block;
    text-decoration: none;
  }
  ul li span {
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
  }
  ul li.small-text, footer .bottom ul li.small-text a {
    font-size: 9px;
    letter-spacing: .12px;
    color: #000;
    margin-bottom: 0;
    margin-right: 0;
    font-weight: 400;
  }
  ul li.small-text a {
    font-weight: 500;
  }
  ul li.bold-text, footer .bottom ul li.bold-text a {
    font-weight: 500;
  }
  .container img {
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
  }

  }
  .footer-socialmedia{

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  ul li {
      margin:5px 20px;
      float:left;
  }

  
  .wp-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 150px;
    text-align: center;
    margin-right: 18px;
    transition: all .5s;
    color: #18453b;
    padding: 10px;
  }
    
  .wp-icon:hover {

    background-color: $msufooter;

    color: $white;
 
  }
  

  }
  .region-footer-sticker{
  td{

  }
  img{
    width: 108px;
    height: 108px;
    margin-right: 20px;
  
  }
}
//Search Block

.search-box {
  text-align: right;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  form{
    min-width: 339px;
    width: 100%;
  }
}
@media (max-width:991.98px) {
  .search-box {
  display: none;
}
}.search-box a, .search-box button {
  position: absolute;
  top: 0;
  right: 0px;
  color: #151a22;
  height: 36px;
  border: none;
  background: none;
}
.search-box a i, .search-box button i {
  padding-top: 7px;
  color: #151a22;
}
@media (max-width:991.98px) {
  .search-box a i, .search-box button i {
  padding-top: 10px;
}
}.search-box input {
  border-radius: 5px;
  border: 1px solid #757575;
  background-color: #fff;
  padding: 10px 80px 9px 15px;
  font-size: .75rem;
  line-height: 12px;
  width: 100%;
  text-align: left;
  color: #151a22;
}
.search-box input:-ms-input-placeholder {
  color: #44484e;
}
.search-box input::-moz-placeholder {
  color: #44484e;
}
.search-box input::-ms-input-placeholder {
  color: #44484e;
}
.search-box input::placeholder {
  color: #44484e;
}



.homepage-feature-bg-img{
width: 100%;
height: 100%;
padding-bottom: 5%;
background-size: cover !important;
background-repeat: no-repeat !important;
background-position: center !important;
position: relative;
}

header{
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
}

.page-title-page{
  position: relative;
  margin-top: 100px;
  padding-bottom: 30px;
  color:$white !important;
  background: red;
}

.home-hero{
  width: 100%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  position: relative;

}
.hero-homepage{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


//Cards Paragraph

.card-row{
  margin-bottom: 30px;
  .card{
    border:none;
    .card-body{
      margin: 0;
      padding: 0;
    }
    .card-title{
      font-size:1.375rem;
      margin-bottom: 10px;
      letter-spacing: -0.4px;
      padding-top: 20px;
      font-weight: 700;
    }

    p{
      font-size:1rem !important;
      margin-bottom: 30px;
      letter-spacing: -0.4px;
      font-weight: 400;

    }

    .card-link a, .field--type-link a{
      font-weight: 700;
      display: inline-block;
      border: 1px solid #9b9c9e;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2rem;
      letter-spacing: .51px;
      color: #151a22;
      padding: 10px 35px;
      transition: background-color .5s,color .5s,box-shadow .5s,padding .5s,border-color .5s;
      max-width: 277px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $spartangreen;
      border-color: #18453b;
      color: #fff;

    }
    .card-link a:hover{
      color: #00c24e;
    }
  }
}
.field--name-field-paragraph-link-set-title, .field--name-field-para-text-blk-title{
  font-size:1.375rem;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
  padding-top: 20px;
  font-weight: 700;
}
.field--name-field-paragraph-link-set-title:after, .field--name-field-para-text-blk-title::after{
  content: " ";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paragraph--type--links{
  .field__item{
    margin-bottom: 12px;
    width: 100%;
    background-color: $spartangreen;
    
    padding: 5px;
  }

.field--type-link a{
  font-weight: 700;
  border: 1px solid #9b9c9e;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .51px;
  color: #151a22;
  transition: background-color .5s,color .5s,box-shadow .5s,padding .5s,border-color .5s;
  min-width: 50%;
  max-width: 50%;
  text-decoration: none;
  text-overflow: ellipsis;
  border:none;
  color: #fff;
}
.field--type-link a:hover{
  color: #00c24e;
}
}

.imgtxt-row{
  margin-bottom: 30px;

    .card-body{
      margin: 0;
      padding: 0;
    }
    .card-title{
      font-size:1.375rem;
      margin-bottom: 10px;
      letter-spacing: -0.4px;
      padding-top: 20px;
      font-weight: 700;
    }

    p{
      font-size:1rem !important;
      margin-bottom: 30px;
      letter-spacing: -0.4px;
      font-weight: 400;

    }
    .card-link a{
      font-weight: 700;
      display: inline-block;
      border: 1px solid #9b9c9e;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2rem;
      letter-spacing: .51px;
      color: #151a22;
      padding: 10px 35px;
      transition: background-color .5s,color .5s,box-shadow .5s,padding .5s,border-color .5s;
      max-width: 277px;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: $spartangreen;
      border-color: #18453b;
      color: #fff;
    }
    .card-link a:hover{
      color: #00c24e;
    }
  }
.card-title-line:after{
  content: " ";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 20px;
}


//Accordion Style
.accordion{
  margin-bottom: 30px;
  margin-top: 30px;
}
.accordion-button:not(.collapsed){
  background-color: #efefef !important;
  border: #cec8ba solid 1px !important;
  text-transform: uppercase !important;
  color:#000000 !important;
}
.accordion-button{
  background-color: #efefef;
  border: #cec8ba solid 1px;
  text-transform: uppercase;
  color:#000000;
}
.accordion-button::after{
  color:#000000 !important;
}
button{
  color:#000000 !important;
}

.carousel-item{
  display: block !important;

}
h2.slide__title{
  font-size:1.375rem;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
  padding-top: 20px;
  font-weight: 700;
  color:#fff;
}
h2.slide__title:after{
  content: " ";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 20px;
}
.slide__description{
  font-size:1rem !important;
  margin-bottom: 30px;
  letter-spacing: -0.4px;
  font-weight: 400;
  color: #fff;
}
.media--image{
  width: 100%;
  height: 100%;
}
.media--image img{
  width: 100%;
  height: 100%;
}
.media__iframe{
  position: relative !important;
  height: max-content !important;
  background-color: red !important;
}

//Sidebar Menu

.region-sidebar-second nav, .region-sidebar-first nav{
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #b9f0cd;
  border-top: 5px solid #00c24e;
  margin: 10px;
  word-wrap: break-word !important;
  .is-active{
    font-weight: bold !important;
  }
  .dropdown-toggle::after{
    color:#00c24e !important;
    margin-left: 10px;
    display: none;
  }

  h5{
    font-size: 1.5rem !important;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: normal;
    color: #151a22;
    padding-left: 15px;
    padding-right: 15px;

  }
  h5::after{
    content: " ";
    display: block;
    width: 32px;
    height: 4px;
    background-color: #00c24e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 0;

    li{
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 300;
    color: #151a22;
    list-style: none !important;
  a{
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: normal;
    color: #44484e;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    font-weight: 600;

  }
  a:hover{
    text-decoration: underline;
    color:$black;
  }
  ul{
    background-color: #f6f6f6;

  }
  li{


  }

}
  }
}
.region-sidebar-second ul.nav li.nav-item a.dropdown-toggle{
  white-space: unset !important;
}
.field{
  margin-bottom: 10px;

}
.p-10{
  padding: 9px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  font-family: $open-sans;
  font-weight: bolder;
  content: var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, "/");; */;
}

.field.field--name-field-page-hero.field--type-image.field--label-hidden.field__item.quickedit-field, .field.field--name-field-page-hero.field--type-image.field--label-hidden.field__item{
  visibility: hidden;
}

//layout region

.layout__region .paragraph{
  padding: 10px;
}

.text-align-center{
  text-align: center !important;
}

.user-name{
  font-weight:bolder;
  font-size: 1.6rem !important;
}

.btn:focus, a:focus {
  outline: none !important;
}
*:focus {
  outline: none !important;
}

.button{
  float:left;
  a{
    font-weight:500;
    letter-spacing: 1px;
  }
}