$white: #ffffff;
$black: #151a22;
$spartangreen: #18453b;
$kellygreen: #008208;
$limegreen: #7bbd00;
$excellencegreen: #0b9a6d;
$lightgray: #F6F6F6;
$msufooter:#113D34;

//Tb Megamenu

$color-grey: #ccc;
$color-black: #000;
$color-white: #fff;
$color-accent: #1197f0;
$color-background: #18453b;
$color-text: #fff;
$color-caption: #fff;
// Colors with opacity.
$color-borders: rgba($excellencegreen, 0.2);

$fa-font-path: "../webfonts";
